<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:composite="http://xmlns.jcp.org/jsf/composite"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:pe="http://primefaces.org/ui/extensions">
<h:head>
	<title>Cadastro dos Grupos de Demandas</title>
	<meta http-equiv="Content-Type" content="text/html;" charset="UTF-8" />


</h:head>
<h:body>
	<h1>Tipos de Grupos de Demandas</h1>

	<p:accordionPanel multiple="true">

		<p:tab title="Cadastro dos Grupos de Demandas">
			<h:panelGrid columns="2" cellpadding="10">               
               Esta tabela permite ao usuário verificar quais os tipos de grupos de demandas estão cadastrados. 
              <p> Através dela, o usuário pode cadastrar um tipo de grupo de demanda clicando no botão <strong>Novo</strong></p>
    <p>Vai aparecer um dialogo com os seguintes itens:</p>

				<ul>
					<li>Conta: Indica a conta a qual a demanda está relacionada</li>		
					<li>Descrição: Indica o nome do tipo do grupo</li>					
					<li>Ativo: Indica se este grupo de demanda está ativa ou não</li>
				</ul>
				
			</h:panelGrid>
		</p:tab>


	</p:accordionPanel>








</h:body>
</html>