<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:composite="http://xmlns.jcp.org/jsf/composite"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:pe="http://primefaces.org/ui/extensions">
<h:head>
	<title>Lançamento de Faturas</title>
	<meta http-equiv="Content-Type" content="text/html;" charset="UTF-8" />


</h:head>
<h:body>
	<h1>Lançamento de Faturas</h1>

	<p:accordionPanel multiple="true">

		<p:tab title="Lançamento de Faturas">
			<h:panelGrid columns="2" cellpadding="10">               
               Esta tabela permite ao usuário verificar quais faturas já foram lançadas no sistemas, consultar por tipo de conta e por competencia estão cadastrados. 
              <p>Através dela, o usuário pode cadastrar o lançamento
					preenchendo o formulário a cima da tabela, iniciando pelo tipo de
					conta, competência e assim por diante. </p>
			<p> Após todos os dados preenchidos, os dados só serão inclusos no banco após o click no botão salvar</p>
				<p>Coisas importantes a saber sobre a tabela:</p>

				<ul>

					<li>Seta para baixo: faz download em formato de xls da tabela.</li>
					<li>Caneta: Edita os dados da linha da tabela.</li>
					<li>Lixeira: Exclui toda a linha da tabela, significa exluir aquela competência daquela conta.</li>
				</ul>

			</h:panelGrid>
		</p:tab>


	</p:accordionPanel>








</h:body>
</html>