<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:composite="http://xmlns.jcp.org/jsf/composite"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:pe="http://primefaces.org/ui/extensions">
<h:head>
	<title>Cadastro dos Grupos de Demandas</title>
	<meta http-equiv="Content-Type" content="text/html;" charset="UTF-8" />


</h:head>
<h:body>
	<h1>Cadastro de Imóvel</h1>

	<p:accordionPanel multiple="true">

		<p:tab title="Cadastro de Imóvel">
			<h:panelGrid columns="2" cellpadding="10">               
               Esta tela permite que usuário inclua novos endereços de imóveis da PMPE através da inserção da OME. 
               Sendo possível assim, desde o primeiro acesso a tela, verificar os imóveis já cadastrados relacionados a Unidade, possibilitando inclusão, edição e exclução.
               E a partir dela acessar todos os contratos relacionada ao imóvel selecionado.   
              <p>Através dela, o usuário deverá cadastrar um novo imóvel clincando no botão novo <strong>Novo</strong></p>
			  <p>Na tabela abaixo com a lista de imóveis se encontra dois itens uma caneta e uma lixeira</p>
		
				<ul>
					<li>Caneta: Editar </li>				
					<li>Lixeiro: Excluir</li>
				</ul>
				<p>Vai aparecer um dialogo com itens semelhantes a tabela do endereço da OME, com os seguintes itens:</p>

				<ul>
					<li>CEP: Indicando o CEP, já irá preencher os campos Logradouro, Bairro, Cidade automaticamente</li>
					<li>Número: Adiciona número do imovel do Imóvel da Ome</li>
					<li>Cidade: Cidade do Imóvel, sendo preenchida automaticamente após a inserção do CEP</li>
					<li>Telefone: Adiciona o número de telefone do imóvel, se
						houver</li>
					<li>Logradouro: Logradouro do Imóvel, sendo preenchida
						automaticamente após a inserção do CEP</li>
					<li>Bairro: Bairro do Imóvel, sendo preenchida automaticamente
						após a inserção do CEP</li>
					<li>Complemento: Complemento do endereço do imóvel</li>
					<li>Ponto de Ref.: Indica o ponto de referência do imóvel</li>
					<li>Nome: Indica o "Nome" do imóvel, se é Sede, PPO,
						Destacamento, etc.</li>
				</ul>

			</h:panelGrid>
		</p:tab>


	</p:accordionPanel>








</h:body>
</html>