<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:composite="http://xmlns.jcp.org/jsf/composite"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:pe="http://primefaces.org/ui/extensions">
<h:head>
	<title>Cadastro de Endereço de OME</title>
	<meta http-equiv="Content-Type" content="text/html;" charset="UTF-8" />


</h:head>
<h:body>
	<h1>Cadastro de Endereco de OME</h1>

	<p:accordionPanel multiple="true">

		<p:tab title="Cadastro de Endereco de OME">
			<h:panelGrid columns="2" cellpadding="10">               
               Esta tabela permite ao usuário verificar das OMEs e seus endereços. 
              <p>
					Através dela, o usuário pode cadastrar um n ovo endereco de OME
					clincando em <strong>Novo</strong>
				</p>
				<p>Vai aparecer um dialogo para preencher os campos. Lembrando
					que os campos com asterisco são obrigatórios.</p>
				<p>Coisas importantes a saber sobre a tabela:</p>

				<ul>

					<li>Seta para baixo: faz download em formato de xls da tabela.</li>
					<li>Caneta: Edita os dados da linha da tabela.</li>
					<li>Lixeira: Exclui toda a linha da tabela, significa exluir
						o endereço da OME.</li>
				</ul>

			</h:panelGrid>
		</p:tab>


	</p:accordionPanel>





</h:body>
</html>