<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:composite="http://xmlns.jcp.org/jsf/composite"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:sec="http://www.springframework.org/security/facelets/tags">
<h:head>
	<title>e-SGC</title>

	<meta http-equiv="Content-Type Content-Language" name="viewport"
		content=" width=device-width, initial-scale=1.1" charset="UTF-8" />
	<link rel="shortcut icon" type="image/x-icon"
		href="#{facesContext.externalContext.request.contextPath}/resources/images/favicon.ico" />

	<h:outputStylesheet library="css" name="geral.css" />
	<h:outputStylesheet library="styles" name="custom.css" />
	<h:outputStylesheet library="styles" name="layout.css" />
	<h:outputStylesheet library="styles" name="components.css" />
	<!-- <h:outputStylesheet library="styles	" name="geral.css" />
 -->
	<!-- <h:outputStylesheet library="css" name="menu.css" /> -->

	<h:outputScript library="js" name="main.js" />
	<h:outputScript library="js" name="jquery.maskMoney.min.js" />
	<h:outputScript library="js" name="locales.js" />

	<!-- <h:outputScript library="js" name="jquery.cookie.js" />
	<h:outputScript library="js" name="jquery.navgoco.min.js" />
	<h:outputScript library="js" name="menu.js" /> -->

	<script type="text/javascript">
		function phoneMaskHandler(event) {
			var target, phone, element;
			target = (event.currentTarget) ? event.currentTarget
					: event.srcElement;
			phone = target.value.replace(/\D/g, '');
			element = $(target);
			element.unmask();
			if (phone.length > 10) {
				element.mask("(99) 99999-999?9");
			} else {
				element.mask("(99) 9999-9999?9");
			}
		}
	</script>
	<script type="text/javascript">
		function matriculaMaskHandler(event) {
			var target, matricula, element;
			target = (event.currentTarget) ? event.currentTarget
					: event.srcElement;
			matricula = target.value.replace(/\D/g, '');
			element = $(target);
			element.unmask();
			if (matricula.length > 6) {
				element.mask("999999-?9");
			} else {
				element.mask("99999-9?9");
			}
		}
	</script>

</h:head>
<h:body>
	<p:layout fullPage="true">
		<p:layoutUnit position="north" collapsible="true" gutter="0" size="60">

			<div id="header">
				<h:form id="frm_header">
					<div id="header_app">
						<p:commandLink id="dynaButton" title="Listagem dos módulos">
							<i class="aw-toggle fa  fa-bars"></i>
						</p:commandLink>

						<p:menu overlay="true" trigger="dynaButton" my="left top"
							at="left bottom">
							<p:submenu label="Módulos">
								<sec:ifAnyGranted roles="ADMINISTRADOR, DTEC, DAL">
									<p:menuitem value="Sistemas de Contas" icon="fa fa-user"
										url="/page/esgc/esgc.xhtml" />
									<p:menuitem value="Segurança" icon="fa fa-lock"
										url="/page/mseg/mseg.xhtml" />
								</sec:ifAnyGranted>

							</p:submenu>
						</p:menu>
					</div>
					<div id="header_logo">
						<h:link outcome="/page/main.xhtml">
							<h:graphicImage library="images" name="logo_43.png" />
						</h:link>
					</div>
					<div id="header_titulo">e-SGC</div>
					<div id="header_sair">

						<sec:ifNotGranted roles="ADMINISTRADOR, DTEC, DAL">
							<p:link value="Logar" href="/j_spring_security_logout" />
						</sec:ifNotGranted>

						<sec:ifAnyGranted roles="ADMINISTRADOR, DTEC, DAL">
							<p:link value="Sair" href="/j_spring_security_logout" />
						</sec:ifAnyGranted>

					</div>

					<div id="header_app_inf">
						<p:commandLink id="header_inf" title="Acesso Rápido">
							<i id="link_menu" class="fa fa-cogs"></i>
						</p:commandLink>

						<p:menu overlay="true" trigger="header_inf" my="right top"
							at="right bottom">
							<p:submenu label="Acesso Rápido">

								<p:menuitem value="Alterar Senha" icon="fa  fa-key" ajax="false"
									url="/page/mseg/form_usuario_alt_senha.xhtml" />
							</p:submenu>
						</p:menu>
					</div>

					<p:confirmDialog global="true" showEffect="fade"
						hideEffect="explode" responsive="true">
						<p:outputPanel style="padding-left:100px ;padding-right:100px ">
							<p:commandButton value="Não" type="button"
								styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
							<p:commandButton value="Sim" type="button"
								styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
						</p:outputPanel>
					</p:confirmDialog>

				</h:form>
			</div>

		</p:layoutUnit>

		<p:layoutUnit position="center" collapsible="true" gutter="0">
			<ui:insert name="conteudo" />
		</p:layoutUnit>

	</p:layout>
</h:body>
</html>