<ui:composition template="/WEB-INF/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="conteudo">

		<div class="ui-fluid" style="padding: 30px">

			<p:panelGrid columns="2" layout="grid" styleClass="panelgrid-noborder"
				columnClasses="ui-grid-col-1, ui-grid-col-11">
				<p:graphicImage library="images" name="exclamacao.png" />
				<h:outputText style="font-size: 26px;" value="Acesso Negado!" />
			</p:panelGrid>
			
		</div>

			<p:separator/>
			<h:outputText style="font-size: 16px;"
				value="&#160;Você não possui permissão para acessar esta página." />


	</ui:define>

</ui:composition>

