<?xml version="1.0" encoding="UTF-8" ?>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:composite="http://xmlns.jcp.org/jsf/composite"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<h:head>
	<title>SGC</title>
	
	<link rel="shortcut icon" type="image/x-icon" href="#{request.contextPath}/resources/images/favicon.ico" />
	<h:outputStylesheet library="css" name="login.css" />
	<h:outputScript library="js" name="main.js" />
</h:head>
<h:body>

	<f:event listener="#{esqueceuSenhaBean.inicializar}"
		type="preRenderView" />

	<div class="formulario_login">
		<h:form id="EsqueceuSenha" name="esqueceuSenha" method="post">

			<p:growl id="growl" sticky="true" />

		</h:form>

	</div>



</h:body>

</html>