<?xml version="1.0" encoding="UTF-8" ?>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:composite="http://xmlns.jcp.org/jsf/composite"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<h:head>
	<title>e-SGC</title>
	<link rel="shortcut icon" type="image/x-icon"
		href="#{request.contextPath}/resources/images/favicon.ico" />
	<h:outputStylesheet library="css" name="login.css" />
	<h:outputScript library="js" name="main.js" />
</h:head>
<h:body>



	<p:dialog id="dialog" closable="false" position="center"
		responsive="true" showEffect="slide" draggable="false"
		resizable="false" visible="true">


		<h:form id="Esqueceu" name="esqueceu" method="post">


			<p:growl id="growl" sticky="true" />


			<h:panelGrid columns="1">
				<h:outputLabel
					style="color: #FFFFFF; text-align: justify; font-size: 18px;"
					value="Digite o seu E-mail de cadastro:" />

				<h:inputText class="input" id="email" label="Email" required="true"
					value="#{esqueceuBean.email}" requiredMessage="Digite um e-mail!"
					validatorMessage="Digite o e-mail informado no monento de seu cadastro!">
					<f:validateRegex pattern="[a-zA-Z0-9\-\_\.]+@[pm.pe.gov.br]+" />
					<f:passThroughAttribute name="placeholder"
						value="Digite o seu email..." />
				</h:inputText>

				<h:commandButton type="submit" value="Enviar"
					styleClass="btn_esqueceu"
					actionListener="#{esqueceuBean.verificaEmail}" />

				<br />
				<h:outputLabel style="color: #142D65; font-size: 12px;"
					value="Para recuperar o seu acesso ao sistema enviaremos um e-mail " />
				<h:outputLabel style="color: #142D65; font-size: 12px;"
					value="no qual será possível redefinifir a senha!" />
				<br />
				<h:commandLink style="color: #142D65; font-size: 12px;"
					action="/login.xhtml" immediate="true" value="Retornar ao login" />

			</h:panelGrid>

		</h:form>


	</p:dialog>




</h:body>

</html>