<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/Layout.xhtml">

	<ui:define name="content">
	<h2 class="aw-page-subtitle">De acordo com o Decreto Estadual 42.601 de 16 de janeiro de 2016 o consumo deverá ser reduzido em 10% em relação ao consumo do período do ano anterior.</h2>
		<h1 class="aw-page-title">RELATÓRIO DE CONSUMO DE ÁGUA EM M³ 2015/2016</h1>
	
		<h:form id="frm">
			
		</h:form>
	</ui:define>
	
</ui:composition>