<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:composite="http://xmlns.jcp.org/jsf/composite"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
	
<h:head>

	<f:facet name="first">
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	</f:facet>

	<title>e-SGC</title>
	<link rel="shortcut icon" type="image/x-icon" href="#{request.contextPath}/resources/images/favicon.ico" />

	<link rel="shortcut icon" type="image/x-icon" href="#{request.contextPath}/resources/images/favicon.ico" />
	<h:outputStylesheet library="css" name="login.css" />

</h:head>
<h:body>

	<div align="center" id="dialog">

		<img src="javax.faces.resource/eSGC.png.xhtml?ln=images"
			width="290" height="80" />

		<form id="frmLogin" method="post" action="j_spring_security_check">

			<div style="width: 100%; text-align: center;">
				<c:if test="${param.erro  == 'true'}">
					<h:outputText value="Login ou senha inválidos!"
						style="color: #C4261D; font-weight: bold;" />
				</c:if>
			</div>


			<h:panelGrid columns="1">

				<h:inputText class="input" id="j_username" label="Login"
					required="true" style="font-size: 15px;">
					<f:passThroughAttribute name="placeholder"
						value="Digite o seu login..." />
				</h:inputText>

				<h:inputSecret class="input" id="j_password" label="Senha"
					required="true" style="font-size: 15px;">
					<f:passThroughAttribute name="placeholder"
						value="Digite a sua senha..." />
				</h:inputSecret>

				<input type="submit" value="Login" class="btn_login"
					style="font-size: 15px;" />

				<br />
				<br />
			</h:panelGrid>


		</form>

	</div>

</h:body>



</html>