<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
	 <f:metadata>
		<f:viewAction action="#{acessoBean.registrarLog}" />
	</f:metadata>
	<meta http-equiv="refresh" content="#{acessoBean.link}" />
</h:head>
<h:body>

</h:body>
</html>
