<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/page/esgc/esgc.xhtml">

	<ui:define name="pagina">
<f:metadata>
			<f:viewAction action="#{aguaBean.carregarMes}" />
		</f:metadata>

	<h:form id="frm">
	<p:layout style="min-width:300px;min-height:92vh;">
				<!-- <p:layoutUnit position="west" resizable="true" size="50"
					minSize="40" maxSize="1000">

				</p:layoutUnit> -->
				<p:layoutUnit position="center" resizable="true">
		
		
		<p:dataTable id="rAgua" var="agua" value="#{aguaBean.aguas}">
			<f:facet name="header" >
			<p></p>
			<p class="aw-page-subtitle">De acordo com o Decreto Estadual 42.601 de 16 de janeiro de 2016 o consumo deverá ser reduzido no mínimo em 10% em relação ao consumo do período do ano anterior. </p>
            <p/>
            <p class="aw-page-title">RELATÓRIO COMPARATIVO DE CONSUMO DE ÁGUA EM M³ no período de #{aguaBean.anoAnterior}/#{aguaBean.anoCorrente}</p>
        </f:facet >
				
				<p:columnGroup type="header">
				<p:row>
					<p:column rowspan="2" headerText="Ome" sortBy="#{agua.ome}" style="font-size:14px;"
						filterBy="#{agua.ome}" filterMatchMode="startsWith" width="62" filterPosition="top"/>
					<p:column rowspan="2" headerText="Matricula" width="75"/>
					<p:column rowspan="2" headerText="Cidade" priority="3"/>
					<p:column rowspan="2" headerText="Enderço" priority="3"/>
					<p:column colspan="3" headerText="#{aguaBean.anoAnterior}" priority="5"/>
					<p:column colspan="3" headerText="#{aguaBean.anoCorrente}" priority="5"/>
					<p:column colspan="2" headerText="Média Trimestral"/>
					<p:column headerText="Meta"/>
				</p:row>
				
				<p:row>
					<p:column headerText="#{aguaBean.mes1}" priority="5"/>
					<p:column headerText="#{aguaBean.mes2}" priority="5"/>
					<p:column headerText="#{aguaBean.mes3}" priority="5"/>
					<p:column headerText="#{aguaBean.mes1}" priority="5"/>
					<p:column headerText="#{aguaBean.mes2}" priority="5"/>
					<p:column headerText="#{aguaBean.mes3}" priority="5"/>
					<p:column headerText="#{aguaBean.anoAnterior}"/>
					<p:column headerText="#{aguaBean.anoCorrente}"/>
					<p:column headerText="Trimestre"/>
					
				</p:row>
			</p:columnGroup>

			<p:column >
				<p:outputLabel value="#{agua.ome}" />
			</p:column>
			<p:column>
				<p:outputLabel value="#{agua.matricula}" />
			</p:column>
		 	<p:column priority="3">
				<p:outputLabel value="#{agua.cidade}" />
			</p:column>
			<p:column priority="3">
				<p:outputLabel value="#{agua.endereco}" />
			</p:column>
		 	<p:column style='text-align:right' priority="5">
				<h:outputText value="#{agua.mes3AnoAnterior}">
				<f:convertNumber pattern="#,##0.00"
        		 locale="pt_BR" />
         		</h:outputText>
			</p:column> 
			<p:column style='text-align:right' priority="5">
				<h:outputText value="#{agua.mes2AnoAnterior}" >
				<f:convertNumber pattern="#,##0.00"
        		 locale="pt_BR" />
         		</h:outputText>
			</p:column> 
			<p:column style='text-align:right' priority="5">
				<h:outputText value="#{agua.mes1AnoAnterior}" >
				<f:convertNumber pattern="#,##0.00"
        		 locale="pt_BR" />
         		</h:outputText>
			</p:column> 
			<p:column style='text-align:right' priority="5">
				<h:outputText value="#{agua.mes3AnoAtual}" >
				<f:convertNumber pattern="#,##0.00"
        		 locale="pt_BR" />
         		</h:outputText>
			</p:column> 
			<p:column style='text-align:right' priority="5">
				<h:outputText value="#{agua.mes2AnoAtual}" >
				<f:convertNumber pattern="#,##0.00"
        		 locale="pt_BR" />
         		</h:outputText>
			</p:column> 
			<p:column style='text-align:right' priority="5">
				<h:outputText value="#{agua.mes1AnoAtual}" >
				<f:convertNumber pattern="#,##0.00"
        		 locale="pt_BR" />
         		</h:outputText>
			</p:column> 
			<p:column style='text-align:right'>
				<h:outputText value="#{agua.mediaTrimetreAnterior}" >
				<f:convertNumber pattern="#,##0.00"
        		 locale="pt_BR" />
         		</h:outputText>
			</p:column> 
			<p:column style='text-align:right'>
				<h:outputText value="#{agua.mediaTrimetreAtual}" >
				<f:convertNumber pattern="#,##0.00"
        		 locale="pt_BR" />
         		</h:outputText>
			</p:column>
				<p:column   	styleClass="#{(agua.mediaTrimetreAtual > agua.mediaTrimetreAnterior) and agua.mediaTrimetreAnterior != 0
																		 ?'aumentou' : agua.mediaTrimetreAnterior==agua.mediaTrimetreAtual  ? 
																		 'manteve' :  agua.mediaTrimetreAnterior == 0 ? 'impossivel' : 'diminuiu'}">
				<h:outputText value="#{agua.meta}"/>
			</p:column>
			
			
			<!-- <p:column>
				<h:outputText value="#{agua.thisYearProfit}%" />
			</p:column>
			<p:column>
				<h:outputText value="#{agua.lastYearAgua}">
					<f:convertNumber type="currency" currencySymbol="R$" />
				</h:outputText>
			</p:column>
			<p:column>
				<h:outputText value="#{agua.thisYearAgua}">
					<f:convertNumber type="currency" currencySymbol="R$" />
				</h:outputText>
			</p:column> 

			<p:columnGroup type="footer">
				<p:row>
					<p:column colspan="3" style="text-align:right" footerText="Totals:" />
					<p:column footerText="R$ #{aguaBean.lastYearTotal}" />

					<p:column footerText="R$ #{aguaBean.thisYearTotal}" />
				</p:row>
			</p:columnGroup>
-->
			<f:facet name="footer">
          
            
            <p:toolbar id="toolbar">
            	<f:facet name="right">
			 		 Período #{aguaBean.mes1}-#{aguaBean.mes3} #{aguaBean.dataAtual}
			  	</f:facet>
			</p:toolbar>
        </f:facet>
		</p:dataTable>
		</p:layoutUnit>
			</p:layout>
	</h:form>
	</ui:define>

</ui:composition>