<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/page/esgc/esgc.xhtml">

	<ui:define name="pagina">
		<f:metadata>
			<f:viewAction action="#{luzBean.carregarMes}" />
		</f:metadata>

		<h:form id="frm">

	<p:layout style="min-width:200px; min-height:92vh;">
				<!-- <p:layoutUnit position="west" resizable="true" size="50"
					minSize="40" maxSize="1000">

				</p:layoutUnit> -->
				<p:layoutUnit position="center" resizable="true">
					<p:dataTable id="relLuz" var="luz" value="#{luzBean.luzs}">
						<f:facet name="header">
							<!-- <p></p>
							<p class="aw-page-subtitle">De acordo com o Decreto Estadual
								42.601 de 16 de janeiro de 2016 o consumo deverá ser reduzido no
								mínimo em 10% em relação ao consumo do período do ano anterior.
							</p> -->
							<p />
							<p class="aw-page-title">RELATÓRIO COMPARATIVO DE CONSUMO DE
								LUZ EM Kw/h no período de
								#{luzBean.anoAnterior}/#{luzBean.anoCorrente}</p>
						</f:facet>

						<p:columnGroup type="header">
							<p:row>
								<p:column rowspan="2" headerText="Ome" sortBy="#{luz.ome}"
									style="font-size:14px;" filterBy="#{luz.ome}"
									filterMatchMode="startsWith" width="62" filterPosition="top" />
								<p:column rowspan="2" headerText="Contrato" width="75" />
								<p:column rowspan="2" headerText="Cidade" priority="3" />
								<p:column rowspan="2" headerText="Enderço" priority="3" />
								<p:column colspan="3" headerText="#{luzBean.anoAnterior}"
									priority="5" />
								<p:column colspan="3" headerText="#{luzBean.anoCorrente}"
									priority="5" />
								<p:column colspan="2" headerText="Média Trimestral" />
								<p:column headerText="Meta" />
							</p:row>

							<p:row>
								<p:column headerText="#{luzBean.mes1}" priority="5" />
								<p:column headerText="#{luzBean.mes2}" priority="5" />
								<p:column headerText="#{luzBean.mes3}" priority="5" />
								<p:column headerText="#{luzBean.mes1}" priority="5" />
								<p:column headerText="#{luzBean.mes2}" priority="5" />
								<p:column headerText="#{luzBean.mes3}" priority="5" />
								<p:column headerText="#{luzBean.anoAnterior}" />
								<p:column headerText="#{luzBean.anoCorrente}" />
								<p:column headerText="Trimestre" />

							</p:row>
						</p:columnGroup>

						<p:column>
							<p:outputLabel value="#{luz.ome}" />
						</p:column>
						<p:column>
							<p:outputLabel value="#{luz.contrato}" />
						</p:column>
						<p:column priority="3">
							<p:outputLabel value="#{luz.cidade}" />
						</p:column>
						<p:column priority="3">
							<p:outputLabel value="#{luz.endereco}" />
						</p:column>
						<p:column style='text-align:right' priority="5">
							<h:outputText value="#{luz.mes3AnoAnterior}">
								<f:convertNumber pattern="#,##0.00" locale="pt_BR" />
							</h:outputText>
						</p:column>
						<p:column style='text-align:right' priority="5">
							<h:outputText value="#{luz.mes2AnoAnterior}">
								<f:convertNumber pattern="#,##0.00" locale="pt_BR" />
							</h:outputText>
						</p:column>
						<p:column style='text-align:right' priority="5">
							<h:outputText value="#{luz.mes1AnoAnterior}">
								<f:convertNumber pattern="#,##0.00" locale="pt_BR" />
							</h:outputText>
						</p:column>
						<p:column style='text-align:right' priority="5">
							<h:outputText value="#{luz.mes3AnoAtual}">
								<f:convertNumber pattern="#,##0.00" locale="pt_BR" />
							</h:outputText>
						</p:column>
						<p:column style='text-align:right' priority="5">
							<h:outputText value="#{luz.mes2AnoAtual}">
								<f:convertNumber pattern="#,##0.00" locale="pt_BR" />
							</h:outputText>
						</p:column>
						<p:column style='text-align:right' priority="5">
							<h:outputText value="#{luz.mes1AnoAtual}">
								<f:convertNumber pattern="#,##0.00" locale="pt_BR" />
							</h:outputText>
						</p:column>
						<p:column style='text-align:right'>
							<h:outputText value="#{luz.mediaTrimetreAnterior}">
								<f:convertNumber pattern="#,##0.00" locale="pt_BR" />
							</h:outputText>
						</p:column>
						<p:column style='text-align:right'>
							<h:outputText value="#{luz.mediaTrimetreAtual}">
								<f:convertNumber pattern="#,##0.00" locale="pt_BR" />
							</h:outputText>
						</p:column>
						<p:column
							styleClass="#{(luz.mediaTrimetreAtual > luz.mediaTrimetreAnterior) and luz.mediaTrimetreAnterior !=0
																		 ?'aumentou' : luz.mediaTrimetreAnterior==luz.mediaTrimetreAtual  ? 
																		 'manteve' :  luz.mediaTrimetreAnterior == 0 ? 'impossivel' : 'diminuiu'}">
							
							<h:outputText value="#{luz.meta}" />
						</p:column>


						<!-- <p:column>
				<h:outputText value="#{luz.thisYearProfit}%" />
			</p:column>
			<p:column>
				<h:outputText value="#{luz.lastYearAgua}">
					<f:convertNumber type="currency" currencySymbol="R$" />
				</h:outputText>
			</p:column>
			<p:column>
				<h:outputText value="#{luz.thisYearAgua}">
					<f:convertNumber type="currency" currencySymbol="R$" />
				</h:outputText>
			</p:column> 

			<p:columnGroup type="footer">
				<p:row>
					<p:column colspan="3" style="text-align:right" footerText="Totals:" />
					<p:column footerText="R$ #{luzBean.lastYearTotal}" />

					<p:column footerText="R$ #{luzBean.thisYearTotal}" />
				</p:row>
			</p:columnGroup>
-->
						<f:facet name="footer">


							<p:toolbar id="toolbar">
								<f:facet name="right">
			 		 Período #{luzBean.mes1}-#{luzBean.mes3} #{luzBean.dataAtual}
			  	</f:facet>
							</p:toolbar>
						</f:facet>
					</p:dataTable>
				</p:layoutUnit>
			</p:layout>
		</h:form>
	</ui:define>

</ui:composition>