<ui:composition template="/WEB-INF/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="conteudo">

		<div id="pg_menu_alternativo">

			<p:panelGrid styleClass="panelgrid-noborder">

				<p:row>
					<p:column colspan="2" style="text-align: center; font-size: 18px; font-weight: bold;">
						<p:outputLabel value="Polícia Militar de Pernambuco" />
					</p:column>
				</p:row>

				<p:row>
					<p:column style="text-align: center;">
						<p:graphicImage library="images" name="brasao_pmpe.png" />
					</p:column>
				</p:row>


				<p:row>
					<p:column colspan="2" style="text-align: center; font-size: 15px;">
						<p:outputLabel value="Sistema Eletrônico de Gestão de Contas - e-SGC" />
					</p:column>
				</p:row>
				
				<p:row>
					<p:column colspan="2" style="text-align: center; font-size: 15px;">
						<p:outputLabel value="Diretoria de Tecnologia - DTEC" />
					</p:column>
				</p:row>

			</p:panelGrid>

		</div>

	</ui:define>

</ui:composition>