<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/page/esgc/esgc.xhtml">

	<ui:define name="pagina">
	
		<h:form id="frm" styleClass="#{'corpo'}">
			<p:layout style="min-width:300px;min-height:92vh;">
				<p:layoutUnit position="center" resizable="true">
				
					<p:dataTable id="relLuz" var="luz" value="#{relGeralBean.listaLuz}" reflow="true">
						<f:facet name="header">
						<!--	<p></p>
						 	<p class="aw-page-subtitle" >De acordo com o Decreto Estadual
								42.601 de 16 de janeiro de 2016 o consumo deverá ser reduzido no
								mínimo em 10% em relação ao consumo do período do ano anterior.
							</p> -->
							<p />
							<p class="aw-page-title">RELATÓRIO COMPARATIVO DE CONSUMO DE LUZ EM Kw/h</p>
						</f:facet>
						<p:column headerText="ANO" priority="1" styleClass="#{'manteve ano'}" >					
							<h:outputText value="#{luz.ano}" locale="pt_BR" />
						</p:column>
						<p:column headerText="JAN" priority="1" styleClass="#{relGeralBean.reduziu(luz.id, luz.janeiro) ? 'diminuiu':relGeralBean.aumentou(luz.id, luz.janeiro) ? 'aumentou': ''} #{'mes'}" >
							<h:outputText value="#{luz.janeiro}" pattern="#,##0.00" locale="pt_BR"/>
						</p:column>
						<p:column headerText="FEV" priority="1" styleClass="#{relGeralBean.reduziu(luz.id, luz.fevereiro) ? 'diminuiu':relGeralBean.aumentou(luz.id, luz.janeiro) ? 'aumentou': ''} #{'mes'}" >
							<h:outputText value="#{luz.fevereiro}" pattern="#,##0.00" locale="pt_BR"/>
						</p:column>
						<p:column headerText="MAR" priority="1" styleClass="#{relGeralBean.reduziu(luz.id, luz.marco) ? 'diminuiu':relGeralBean.aumentou(luz.id, luz.janeiro) ? 'aumentou': ''} #{'mes'}" >
							<h:outputText value="#{luz.marco}" pattern="#,##0.00" locale="pt_BR"/>
						</p:column>
						<p:column headerText="ABR" priority="1" styleClass="#{relGeralBean.reduziu(luz.id, luz.abril) ? 'diminuiu':relGeralBean.aumentou(luz.id, luz.janeiro) ? 'aumentou': ''} #{'mes'}" >
							<h:outputText value="#{luz.abril}" pattern="#,##0.00" locale="pt_BR"/>
						</p:column>
						<p:column headerText="MAI" priority="1" styleClass="#{relGeralBean.reduziu(luz.id, luz.maio) ? 'diminuiu':relGeralBean.aumentou(luz.id, luz.janeiro) ? 'aumentou': ''} #{'mes'}" >
							<h:outputText value="#{luz.maio}" pattern="#,##0.00" locale="pt_BR"/>
						</p:column>
						<p:column headerText="JUN" priority="1" styleClass="#{relGeralBean.reduziu(luz.id, luz.junho) ? 'diminuiu':relGeralBean.aumentou(luz.id, luz.janeiro) ? 'aumentou': ''} #{'mes'}" >
							<h:outputText value="#{luz.junho}" pattern="#,##0.00" locale="pt_BR"/>
						</p:column>
						<p:column headerText="JUL" priority="1" styleClass="#{relGeralBean.reduziu(luz.id, luz.julho) ? 'diminuiu':relGeralBean.aumentou(luz.id, luz.janeiro) ? 'aumentou': ''} #{'mes'}" >
							<h:outputText value="#{luz.julho}" pattern="#,##0.00" locale="pt_BR"/>
						</p:column>
						<p:column headerText="AGO" priority="1" styleClass="#{relGeralBean.reduziu(luz.id, luz.agosto) ? 'diminuiu':relGeralBean.aumentou(luz.id, luz.janeiro) ? 'aumentou': ''} #{'mes'}" >
							<h:outputText value="#{luz.agosto}" pattern="#,##0.00" locale="pt_BR"/>
						</p:column>
						<p:column headerText="SET" priority="1" styleClass="#{relGeralBean.reduziu(luz.id, luz.setembro) ? 'diminuiu':relGeralBean.aumentou(luz.id, luz.janeiro) ? 'aumentou': ''} #{'mes'}" >
							<h:outputText value="#{luz.setembro}" pattern="#,##0.00" locale="pt_BR"/>
						</p:column>
						<p:column headerText="OUT" priority="1" styleClass="#{relGeralBean.reduziu(luz.id, luz.outubro) ? 'diminuiu':relGeralBean.aumentou(luz.id, luz.janeiro) ? 'aumentou': ''} #{'mes'}" >
							<h:outputText value="#{luz.outubro}" pattern="#,##0.00" locale="pt_BR"/>
						</p:column>
						<p:column headerText="NOV" priority="1" styleClass="#{relGeralBean.reduziu(luz.id, luz.novembro) ? 'diminuiu':relGeralBean.aumentou(luz.id, luz.janeiro) ? 'aumentou': ''} #{'mes'}" >
							<h:outputText value="#{luz.novembro}" pattern="#,##0.00" locale="pt_BR"/>
						</p:column>
						<p:column headerText="DEZ" priority="1" styleClass="#{relGeralBean.reduziu(luz.id, luz.dezembro) ? 'diminuiu':relGeralBean.aumentou(luz.id, luz.janeiro) ? 'aumentou': ''} #{'mes'}" >
							<h:outputText value="#{luz.novembro}" pattern="#,##0.00" locale="pt_BR"/>
						</p:column>
						<p:column headerText="TOTAL" priority="1" styleClass="#{relGeralBean.reduziu(luz.id, luz.total) ? 'diminuiu':relGeralBean.aumentou(luz.id, luz.janeiro) ? 'aumentou': 'manteve'} #{'total'}" >
							<h:outputText value="#{luz.total}" pattern="#,##0.00" locale="pt_BR"/>
						</p:column>
					</p:dataTable>
			
					<p:dataTable id="relagua" var="agua" value="#{relGeralBean.listaAgua}" reflow="true">
						<f:facet name="header">
							<p />
							<p class="aw-page-title">RELATÓRIO COMPARATIVO DE CONSUMO DE ÁGUA EM M³</p>
						</f:facet>
						<p:column headerText="ANO" priority="1" styleClass="#{'manteve ano'}" >											
							<h:outputText value="#{agua.ano}" locale="pt_BR" />
						</p:column>
						<p:column headerText="JAN" priority="1" styleClass="#{relGeralBean.reduziu(agua.id, agua.janeiro) ? 'diminuiu':relGeralBean.aumentou(agua.id, agua.janeiro) ? 'aumentou': ''} #{'mes'}" >
							<h:outputText value="#{agua.janeiro}" pattern="#,##0.00" locale="pt_BR"/>
						</p:column>
						<p:column headerText="FEV" priority="1" styleClass="#{relGeralBean.reduziu(agua.id, agua.fevereiro) ? 'diminuiu':relGeralBean.aumentou(agua.id, agua.janeiro) ? 'aumentou': ''} #{'mes'}" >
							<h:outputText value="#{agua.fevereiro}" pattern="#,##0.00" locale="pt_BR"/>
						</p:column>
						<p:column headerText="MAR" priority="1" styleClass="#{relGeralBean.reduziu(agua.id, agua.marco) ? 'diminuiu':relGeralBean.aumentou(agua.id, agua.janeiro) ? 'aumentou': ''} #{'mes'}" >
							<h:outputText value="#{agua.marco}" pattern="#,##0.00" locale="pt_BR"/>
						</p:column>
						<p:column headerText="ABR" priority="1" styleClass="#{relGeralBean.reduziu(agua.id, agua.abril) ? 'diminuiu':relGeralBean.aumentou(agua.id, agua.janeiro) ? 'aumentou': ''} #{'mes'}" >
							<h:outputText value="#{agua.abril}" pattern="#,##0.00" locale="pt_BR"/>
						</p:column>
						<p:column headerText="MAI" priority="1" styleClass="#{relGeralBean.reduziu(agua.id, agua.maio) ? 'diminuiu':relGeralBean.aumentou(agua.id, agua.janeiro) ? 'aumentou': ''} #{'mes'}" >
							<h:outputText value="#{agua.maio}" pattern="#,##0.00" locale="pt_BR"/>
						</p:column>
						<p:column headerText="JUN" priority="1" styleClass="#{relGeralBean.reduziu(agua.id, agua.junho) ? 'diminuiu':relGeralBean.aumentou(agua.id, agua.janeiro) ? 'aumentou': ''} #{'mes'}" >
							<h:outputText value="#{agua.junho}" pattern="#,##0.00" locale="pt_BR"/>
						</p:column>
						<p:column headerText="JUL" priority="1" styleClass="#{relGeralBean.reduziu(agua.id, agua.julho) ? 'diminuiu':relGeralBean.aumentou(agua.id, agua.janeiro) ? 'aumentou': ''} #{'mes'}" >
							<h:outputText value="#{agua.julho}" pattern="#,##0.00" locale="pt_BR"/>
						</p:column>
						<p:column headerText="AGO" priority="1" styleClass="#{relGeralBean.reduziu(agua.id, agua.agosto) ? 'diminuiu':relGeralBean.aumentou(agua.id, agua.janeiro) ? 'aumentou': ''} #{'mes'}" >
							<h:outputText value="#{agua.agosto}" pattern="#,##0.00" locale="pt_BR"/>
						</p:column>
						<p:column headerText="SET" priority="1" styleClass="#{relGeralBean.reduziu(agua.id, agua.setembro) ? 'diminuiu':relGeralBean.aumentou(agua.id, agua.janeiro) ? 'aumentou': ''} #{'mes'}" >
							<h:outputText value="#{agua.setembro}" pattern="#,##0.00" locale="pt_BR"/>
						</p:column>
						<p:column headerText="OUT" priority="1" styleClass="#{relGeralBean.reduziu(agua.id, agua.outubro) ? 'diminuiu':relGeralBean.aumentou(agua.id, agua.janeiro) ? 'aumentou': ''} #{'mes'}" >
							<h:outputText value="#{agua.outubro}" pattern="#,##0.00" locale="pt_BR"/>
						</p:column>
						<p:column headerText="NOV" priority="1" styleClass="#{relGeralBean.reduziu(agua.id, agua.novembro) ? 'diminuiu':relGeralBean.aumentou(agua.id, agua.janeiro) ? 'aumentou': ''} #{'mes'}" >
							<h:outputText value="#{agua.novembro}" pattern="#,##0.00" locale="pt_BR"/>
						</p:column>
						<p:column headerText="DEZ"  priority="1" styleClass="#{relGeralBean.reduziu(agua.id, agua.dezembro) ? 'diminuiu':relGeralBean.aumentou(agua.id, agua.janeiro) ? 'aumentou': ''} #{'mes'}" >
							<h:outputText value="#{agua.novembro}" pattern="#,##0.00" locale="pt_BR"/>
						</p:column>
						<p:column headerText="TOTAL" priority="1" styleClass="#{relGeralBean.reduziu(agua.id, agua.total) ? 'diminuiu':relGeralBean.aumentou(agua.id, agua.janeiro) ? 'aumentou': 'manteve'} #{'total'}" >
							<h:outputText value="#{agua.total}" pattern="#,##0.00" locale="pt_BR"/>
						</p:column>
					</p:dataTable>
					
				</p:layoutUnit>
			</p:layout>
		</h:form>
	</ui:define>

</ui:composition>