<ui:composition template="/page/mseg/mseg.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:composite="http://xmlns.jcp.org/jsf/composite"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions">

	<ui:define name="pagina">





		<f:metadata>
			<f:viewAction action="#{moduloBean.listar}" />
		</f:metadata>


		<div class="conteudo_titulo">Módulos</div>

		<div style="width: 90%; margin: 0 auto;">
			<h:form id="frm">


				<p:growl id="msgs" sticky="false" life="3000" />

				<p:toolbar id="toolbar">
					<f:facet name="right">
						<p:commandButton icon="ui-icon-arrowthick-1-s"
							alt="Download em .xls" title="Download em .xls" ajax="false"
							immediate="true">
							<p:dataExporter type="xls" target="cons_modulo"
								fileName="modulos" />
						</p:commandButton>

						<span class="ui-separator"> <span
							class="ui-icon ui-icon-grip-dotted-vertical" />
						</span>

						<p:commandButton value="Novo" icon="ui-icon-document" alt="Novo"
							title="Novo" action="#{moduloBean.novo}" process="@this"
							update="dialog_modulo"
							oncomplete="PF('edicaoModuloDialog').show()">
							<p:resetInput target="dialog_modulo" />
						</p:commandButton>
					</f:facet>
				</p:toolbar>

				<p:dataTable id="cons_modulo" value="#{moduloBean.listaModulos}"
					var="modulo" rows="10" paginator="true" widgetVar="consModulo"
					paginatorPosition="bottom" rowKey="#{modulo.idModulo}"
					emptyMessage="Nenhum registro encontrado."
					paginatorTemplate=" {CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks}     
                                   {NextPageLink} {LastPageLink} {RowsPerPageDropdown} #{fn:length(moduloBean.listaModulos)} módulos cadastrados"
					rowsPerPageTemplate="10,20,50,100">




					<p:column headerText="Editar" width="50" exportable="false"
						style="text-align: center" priority="1">
						<p:commandButton icon="ui-icon-pencil" alt="Editar" title="Editar"
							process="@this" update="dialog_modulo"
							oncomplete="PF('edicaoModuloDialog').show()">
							<p:resetInput target="dialog_modulo" />
							<f:setPropertyActionListener value="#{modulo}"
								target="#{moduloBean.modulo}" />
						</p:commandButton>
					</p:column>


					<p:column headerText="Excluir" width="50" exportable="false"
						style="text-align: center" priority="1">
						<p:commandButton action="#{moduloBean.excluir}"
							update="cons_modulo frm:msgs" icon="ui-icon-trash" alt="Excluir"
							title="Excluir" process="@this">
							<f:setPropertyActionListener target="#{moduloBean.modulo}"
								value="#{modulo}" />
							<p:confirm header="Confirmação" icon="ui-icon-alert"
								message="Tem certeza que deseja excluir?" />
						</p:commandButton>
					</p:column>

					
					
					<p:column headerText="Sigla" sortBy="#{modulo.sigla}"
						filterBy="#{modulo.sigla}#{moduloBean.removeAcentos(modulo.sigla)}"
						filterMatchMode="contains" priority="1">
						<h:outputText value="#{modulo.sigla}"/>
					</p:column>
					
					<p:column headerText="Nome" sortBy="#{modulo.nome}"
						filterBy="#{modulo.nome}#{moduloBean.removeAcentos(modulo.nome)}"
						filterMatchMode="contains" priority="1">
						<h:outputText value="#{modulo.nome}" />
					</p:column>

					<p:column headerText="Ativo" filterBy="#{modulo.ativo}"
						style="text-align: center" priority="4">
						<f:facet name="filter">
							<p:selectOneButton onchange="PF('consModulo').filter()">
								<f:converter converterId="javax.faces.Boolean" />
								<f:selectItem itemLabel="Todos" itemValue="" />
								<f:selectItem itemLabel="Sim" itemValue="true" />
								<f:selectItem itemLabel="Não" itemValue="false" />
							</p:selectOneButton>
						</f:facet>
						<h:outputText value="#{modulo.ativo ? 'SIM': 'NÃO'}" />
					</p:column>


				</p:dataTable>






			</h:form>
		</div>

		<p:dialog header="Cadastro de Módulo" widgetVar="edicaoModuloDialog"
			id="dialog_modulo" resizable="false" modal="true"
			closeOnEscape="true" appendTo="@(body)">

			<h:form id="frm_dialog">

				<p:messages id="msgs_dialog" />
				<p:defaultCommand target="btn_salvar" scope="dialog_modulo" />
				<h:inputHidden id="id_modulo" value="#{moduloBean.modulo.idModulo}" />

				<h:panelGrid columns="2" id="painel_edicao_dialog">
					<p:outputLabel value="Nome" for="nome" />
					<p:inputText id="nome" label="Nome" size="30" maxlength="50"
						onkeyup="this.value=this.value.toUpperCase()" required="true"
						requiredMessage="O campo nome é obrigatório."
						value="#{moduloBean.modulo.nome}">
					</p:inputText>


					<p:outputLabel value="Sigla" for="sigla" />
					<p:inputText id="sigla" label="Sigla" size="30" maxlength="6" 
						onkeyup="this.value=this.value.toUpperCase()" required="true"
						requiredMessage="O campo sigla é obrigatório."
						value="#{moduloBean.modulo.sigla}">
					</p:inputText>


					<p:outputLabel value="Ativo" for="ativo" />
					<p:selectBooleanButton id="ativo" label="Ativo" onLabel="SIM"
						offLabel="NÃO" value="#{moduloBean.modulo.ativo}" />
				</h:panelGrid>
				<br />
				<p:separator />
				<p:outputPanel
					style="margin: 20px 0px 20px 0px; width: 100%; display: table;">
					<p:commandButton id="btn_salvar" value="Salvar"
						icon="ui-icon-check" action="#{moduloBean.salvar}"
						process="dialog_modulo" update="msgs_dialog painel_edicao_dialog"
						oncomplete="if(!args.validationFailed) PF('edicaoModuloDialog').hide()"
						style="float: right;" />
				</p:outputPanel>

			</h:form>

		</p:dialog>

	</ui:define>

</ui:composition>