<ui:composition template="/page/mseg/mseg.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:composite="http://xmlns.jcp.org/jsf/composite"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions">

	<ui:define name="pagina">




		<f:metadata>
			<f:viewAction action="#{tarefaBean.listar}" />
		</f:metadata>



		<div class="conteudo_titulo">Tarefas</div>

		<div style="width: 90%; margin: 0 auto;">
			<h:form id="frm">

				<p:growl id="msgs" sticky="false" life="3000" />


				<p:toolbar id="toolbar">
					<f:facet name="right">
						<p:commandButton icon="ui-icon-arrowthick-1-s"
							alt="Download em .xls" title="Download em .xls" ajax="false"
							immediate="true">
							<p:dataExporter type="xls" target="cons_tarefa"
								fileName="tarefas" />
						</p:commandButton>

						<span class="ui-separator"> <span
							class="ui-icon ui-icon-grip-dotted-vertical" />
						</span>

						<p:commandButton value="Novo" icon="ui-icon-document" alt="Novo"
							title="Novo" action="#{tarefaBean.novo}" process="@this"
							update="dialog_tarefa"
							oncomplete="PF('edicaoTarefaDialog').show()">
							<p:resetInput target="dialog_tarefa" />
						</p:commandButton>
					</f:facet>
				</p:toolbar>

				<p:dataTable id="cons_tarefa" value="#{tarefaBean.listaTarefas}"
					var="tarefa" rows="10" paginator="true" widgetVar="consTarefa"
					paginatorPosition="bottom" rowKey="#{tarefa.idTarefa}"
					emptyMessage="Nenhum registro encontrado."
					paginatorTemplate=" {CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks}     
                                   {NextPageLink} {LastPageLink} {RowsPerPageDropdown} #{fn:length(tarefaBean.listaTarefas)} tarefas cadastrados"
					rowsPerPageTemplate="10,20,50,100">



					<p:column headerText="Editar" width="50" exportable="false"
						style="text-align: center" priority="1">
						<p:commandButton icon="ui-icon-pencil" alt="Editar" title="Editar"
							process="@this" update="dialog_tarefa"
							oncomplete="PF('edicaoTarefaDialog').show()">
							<p:resetInput target="dialog_tarefa" />
							<f:setPropertyActionListener value="#{tarefa}"
								target="#{tarefaBean.tarefa}" />
						</p:commandButton>
					</p:column>


					<p:column headerText="Excluir" width="50" exportable="false"
						style="text-align: center" priority="1">
						<p:commandButton action="#{tarefaBean.excluir}"
							update="cons_tarefa frm:msgs" icon="ui-icon-trash" alt="Excluir"
							title="Excluir" process="@this">
							<f:setPropertyActionListener target="#{tarefaBean.tarefa}"
								value="#{tarefa}" />
							<p:confirm header="Confirmação" icon="ui-icon-alert"
								message="Tem certeza que deseja excluir?" />
						</p:commandButton>
					</p:column>



					<p:column headerText="Nome" sortBy="#{tarefa.nome}"
						filterBy="#{tarefa.nome}#{tarefaBean.removeAcentos(tarefa.nome)}"
						filterMatchMode="contains" priority="2">
						<h:outputText value="#{tarefa.nome}" />
					</p:column>

					<p:column headerText="Detalhe"
						sortBy="#{tarefa.detalhe}#{tarefaBean.removeAcentos(tarefa.detalhe)}"
						filterBy="#{tarefa.detalhe}" filterMatchMode="contains" priority="1">
						<h:outputText value="#{tarefa.detalhe}" />
					</p:column>

					<p:column headerText="Módulo"
						sortBy="#{tarefa.modulo.nome}#{tarefaBean.removeAcentos(tarefa.modulo.nome)}"
						filterBy="#{tarefa.modulo.nome}" filterMatchMode="contains"
						priority="4">
						<h:outputText value="#{tarefa.modulo.nome}" />
					</p:column>

					<p:column headerText="Ativo" filterBy="#{tarefa.ativo}"
						priority="4">

						<f:facet name="filter">
							<p:selectOneButton onchange="PF('consTarefa').filter()">
								<f:converter converterId="javax.faces.Boolean" />
								<f:selectItem itemLabel="Todos" itemValue="" />
								<f:selectItem itemLabel="Sim" itemValue="true" />
								<f:selectItem itemLabel="Não" itemValue="false" />
							</p:selectOneButton>
						</f:facet>

						<h:outputText value="#{tarefa.ativo ? 'SIM': 'NÃO'}" />
					</p:column>


				</p:dataTable>
			</h:form>
		</div>

		<p:dialog header="Cadastro de Tarefas" widgetVar="edicaoTarefaDialog"
			id="dialog_tarefa" resizable="false" modal="true"
			closeOnEscape="true" appendTo="@(body)">

			<h:form id="frm_dialog">

				<p:messages id="msgs_dialog" />
				<p:defaultCommand target="btn_salvar" scope="dialog_tarefa" />
				<h:inputHidden id="id_estado" value="#{tarefaBean.tarefa.idTarefa}" />

				<h:panelGrid id="painel_edicao_dialog">
					<p:fieldset legend="Módulo" style="margin-bottom:20px">
						<p:panelGrid>
							<p:row>
								<p:column>
									<p:outputLabel value="Nome" for="modulo" />
								</p:column>
								<p:column>
									<p:selectOneMenu id="modulo" required="true"
										requiredMessage="O campo Módulo é obrigatório."
										value="#{tarefaBean.tarefa.modulo.idModulo}">
										<f:selectItems value="#{tarefaBean.listaModulos}" />
									</p:selectOneMenu>
								</p:column>
							</p:row>
						</p:panelGrid>
					</p:fieldset>

					<p:fieldset legend="Tarefas" style="margin-bottom:20px">
						<p:panelGrid>

							<p:row>
								<p:column>

									<p:outputLabel value="Nome" for="nome" />
								</p:column>
								<p:column>
									<p:inputText id="nome" required="true" label="Nome" size="30"
										onkeyup="this.value=this.value.toUpperCase()" maxlength="50"
										requiredMessage="O campo nome é obrigatório."
										value="#{tarefaBean.tarefa.nome}">
									</p:inputText>
								</p:column>
							</p:row>
							<p:row>
								<p:column>
									<p:outputLabel value="Detalhe" for="detalhe" />
								</p:column>
								<p:column>
									<p:inputText id="detalhe" required="true" label="Detalhe"
										size="30" onkeyup="this.value=this.value.toUpperCase()"
										maxlength="30" requiredMessage="O campo Detalhe é obrigatório."
										value="#{tarefaBean.tarefa.detalhe}">
									</p:inputText>
								</p:column>
							</p:row>
							
							<p:row>
								<p:column>

									<p:outputLabel value="Link" for="link" />
								</p:column>
								<p:column>
									<p:inputText id="link" required="true" label="Link" size="30"
										onkeyup="this.value=this.value.toUpperCase()" maxlength="50"
										requiredMessage="O campo link é obrigatório."
										value="#{tarefaBean.tarefa.link}">
									</p:inputText>
								</p:column>
							</p:row>
							
							
							<p:row>
								<p:column>
									<p:outputLabel value="Ativo" for="ativo" />
								</p:column>
					
								<p:column>
									<p:selectBooleanButton id="ativo" label="Ativo" onLabel="SIM"
										required="true" offLabel="NÃO"
										value="#{tarefaBean.tarefa.ativo}" />
								</p:column>

							</p:row>
						</p:panelGrid>
					</p:fieldset>
					<br />
					<p:separator />
					<p:outputPanel
						style="margin: 20px 0px 20px 0px; width: 100%; display: table;">
						<p:commandButton id="btn_salvar" value="Salvar"
							icon="ui-icon-check" action="#{tarefaBean.salvar}"
							process="dialog_tarefa" update="msgs_dialog painel_edicao_dialog"
							oncomplete="if(!args.validationFailed) PF('edicaoTarefaDialog').hide()"
							style="float: right;" />
					</p:outputPanel>
					</h:panelGrid>
			</h:form>

		</p:dialog>





	</ui:define>
</ui:composition>