<ui:composition template="/page/mseg/mseg.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:composite="http://xmlns.jcp.org/jsf/composite"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions">

	<ui:define name="pagina">

		<f:metadata>
			<f:viewAction action="#{usuarioBean.listar}" />
		</f:metadata>



		<h1 class="conteudo_titulo">Usuários</h1>

		<div style="width: 98%; margin: 0 auto;">
			<h:form id="frm">
				<p:growl id="msgs" sticky="true" life="3000" />

				<p:toolbar id="toolbar">
					<f:facet name="right">
						<p:commandButton icon="ui-icon-arrowthick-1-s"
							alt="Download em .xls" title="Download em .xls" ajax="false"
							immediate="true">
							<p:dataExporter type="xls" target="cons_usuario"
								fileName="usuarios" />
						</p:commandButton>
						<span class="ui-separator"> <span
							class="ui-icon ui-icon-grip-dotted-vertical" />
						</span>

						<p:commandButton value="Novo" icon="ui-icon-document" alt="Novo"
							title="Novo" action="#{usuarioBean.novo}" process="@this"
							update="dialog_usuario"
							oncomplete="PF('edicaoUsuarioDialog').show()">
							<p:resetInput target="dialog_usuario" />
						</p:commandButton>

					</f:facet>
				</p:toolbar>

				<p:dataTable id="cons_usuario" value="#{usuarioBean.listaUsuarios}"
					var="usuario" rows="10" paginator="true" widgetVar="consUsuario"
					paginatorPosition="bottom" rowKey="#{usuario.idUsuario}"
					emptyMessage="Nenhum registro encontrado." reflow="false"
					currentPageReportTemplate="Total: {totalRecords} Registros - Pág.: {currentPage}/{totalPages}"
					paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} Qtd. de Reg. por pág. "
                    rowsPerPageTemplate="10,20,50,100">	
					

					<p:column headerText="Editar" width="50" exportable="false"  priority="1">
						<p:commandButton icon="ui-icon-pencil" alt="Editar" title="Editar"
							process="@this" update="dialog_usuario" style="width: 50px;"
							oncomplete="PF('edicaoUsuarioDialog').show()">
							<p:resetInput target="dialog_usuario" />
							<f:setPropertyActionListener value="#{usuario}"
								target="#{usuarioBean.usuario}" />
						</p:commandButton>
					</p:column>

					<p:column headerText="Excluir" width="50" exportable="false"  priority="1">
						<p:commandButton action="#{usuarioBean.excluir}"
							update="cons_usuario frm:msgs" icon="ui-icon-trash" alt="Excluir"
							title="Excluir" process="@this" style="width: 50px;">
							<f:setPropertyActionListener target="#{usuarioBean.usuario}"
								value="#{usuario}" />
							<p:confirm header="Confirmação" icon="ui-icon-alert"
								message="Tem certeza que deseja excluir?" />
						</p:commandButton>
					</p:column>
					
					

					<p:column headerText="Login" sortBy="#{usuario.login}"  priority="1"
						filterBy="#{usuario.login}"
						filterMatchMode="startsWith">
						<h:outputText value="#{usuario.login}">
							<f:converter converterId="converter.CpfConverterUtil" />
						</h:outputText>
					</p:column>

					<p:column headerText="Nome" sortBy="#{usuario.nome}"  priority="1"
						filterBy="#{usuario.nome}#{usuarioBean.removeAcentos(usuario.nome)}"
						filterMatchMode="contains">
						<h:outputText value="#{usuario.nome}" />
					</p:column>
					<!-- #{usuarioBean.removeAcentos(usuario.organizacao)} -->
					<p:column headerText="OME" sortBy="#{usuario.organizacao}"  priority="1"
						filterBy="#{usuario.organizacao}"
						filterMatchMode="startsWith">
						<h:outputText value="#{usuario.organizacao}"  style="center"/>
					</p:column>

					<p:column headerText="e-Mail" sortBy="#{usuario.email}"  priority="5" style="text-transform: lowercase">
						<h:outputText value="#{usuario.email}" />
					</p:column>
					
					<p:column headerText="Perfil" sortBy="#{usuario.perfil}"  priority="2"
						filterBy="#{usuario.perfil}#{usuarioBean.removeAcentos(usuario.perfil)}"
						filterMatchMode="contains">
						<h:outputText value="#{usuario.perfil}" />
					</p:column>

					<p:column headerText="Ativo" filterBy="#{usuario.ativo}" filterMatchMode="exact"  priority="4">
						<f:facet name="filter">
							<p:selectOneMenu onchange="PF('consUsuario').filter()">
								<f:converter converterId="javax.faces.Boolean" />
								<f:selectItem itemLabel="Todos" itemValue="" />
								<f:selectItem itemLabel="Sim" itemValue="true" />
								<f:selectItem itemLabel="Não" itemValue="false" />
							</p:selectOneMenu>
						</f:facet>
						<h:outputText value="#{usuario.ativo ? 'SIM': 'NÃO'}" />
					</p:column>
				</p:dataTable>

			</h:form>

		</div>


		<p:dialog widgetVar="edicaoUsuarioDialog" id="dialog_usuario"
			resizable="false" modal="true" closeOnEscape="true" responsive="true"
			appendTo="@(body)" header="Cadastro de Usuários">

			<h:form id="frm_dialog">

				<p:messages id="msgs_dialog" />
				<p:defaultCommand target="btn_salvar" scope="dialog_usuario" />
				<h:inputHidden id="id_usuario" value="#{usuarioBean.usuario.idUsuario}" />

				<h:panelGrid id="painel_edicao_dialog" layout="block"
					styleClass="ui-fluid">
					<p:panelGrid layout="grid" styleClass="panelgrid-noborder"
						columns="2" columnClasses="ui-grid-col-3, ui-grid-col-9"
						style="margin-bottom:20px">

						<p:outputLabel value="Login(CPF)" for="login" /><!-- disabled="#{usuarioBean.usuario.idUsuario != null}" /> -->						
						<p:inputText id="login" label="Login"							
							required="true" maxResults="5" size="15" maxlength="11" mask="9?999999999"
							requiredMessage="O campo CPF é obrigatório." value="#{usuarioBean.usuario.login}">
						<!-- 	disabled="#{usuarioBean.usuario.idUsuario != null}">  completeMethod="#{usuarioBean.complete}" -->
							<!-- <p:ajax event="blur" update="nome ome msgs_dialog btn_salvar" listener="#{usuarioBean.carregarPorCpf}"/> -->
						</p:inputText>
						
						<p:outputLabel value="Nome" for="nome" />
						<p:inputText id="nome" label="Nome" size="30"
							maxlength="40" required="true" onkeyup="alteraMaiusculo()"
							requiredMessage="O campo descrição é obrigatório."
							value="#{usuarioBean.usuario.nome}">
						</p:inputText>
						
						
						<p:outputLabel />
						<p:separator />
						
						<p:outputLabel value="e-Mail" for="email" />
						<h:panelGroup>
							<p:inputText  id="email" label="e-Mail" size="50" maxlength="100"
								required="true" style="text-transform: lowercase"
								value="#{usuarioBean.usuario.email}">
								<!-- <f:validateRegex pattern="[a-zA-Z0-9\_\-\.]+@+[a-zA-Z0-9\_\-\.]+(/.pe/.gov/.br)" />  -->
							</p:inputText>
						</h:panelGroup>
						 
						
						<p:outputLabel value="Perfil" for="perfil" />
						<p:selectOneMenu id="perfil" required="true"
							requiredMessage="O campo Perfil é obrigatório."
							value="#{usuarioBean.usuario.perfil}">
							<f:selectItems value="#{usuarioBean.perfils}"/> 
							
						</p:selectOneMenu>
						
						 <p:outputLabel value="OME" for="ome" />						
						<p:selectOneMenu id="ome" value="#{usuarioBean.usuario.idOrganizacao}"
							effect="fade" filter="true" filterMatchMode="startsWith" required="true"
							requiredMessage="O campo OME é obrigatório.">
							<f:selectItems value="#{usuarioBean.listaOrganizacao}" />
						</p:selectOneMenu> 

						<p:outputLabel value="Ativo" for="ativo" />
						<p:selectBooleanButton id="ativo" label="Ativo" onLabel="SIM"
							offLabel="NÃO" value="#{usuarioBean.usuario.ativo}" style="width: 170px;" />

						<p:outputLabel value="Senha" for="resetar_senha"
							rendered="#{usuarioBean.usuario.idUsuario != null}" />
						<p:commandButton id="resetar_senha" value="Resetar Senha" 
							icon="ui-icon-arrowrefresh-1-w"
							action="#{usuarioBean.resetarSenha}" process="dialog_usuario"
							update="msgs_dialog painel_edicao_dialog"
							oncomplete="if(!args.validationFailed) PF('edicaoUsuarioDialog').hide()"
							 style="width: 170px;" /> 

					</p:panelGrid>

					
				</h:panelGrid>
				<br />

				<p:separator />
				<p:outputPanel
					style="margin: 20px 0px 20px 0px; width: 100%; display: table;">
					<p:commandButton id="btn_salvar" value="Salvar" 
						icon="ui-icon-check" action="#{usuarioBean.salvar}"
						process="dialog_usuario" update="msgs_dialog painel_edicao_dialog"
						oncomplete="if(!args.validationFailed) PF('edicaoUsuarioDialog').hide()"
						style="float: right;" />
				</p:outputPanel>

			</h:form>

		</p:dialog>

	</ui:define>

</ui:composition>
