<ui:composition template="/page/mseg/mseg.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:composite="http://xmlns.jcp.org/jsf/composite"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions">

	<ui:define name="pagina">

		<f:metadata>
			<f:viewAction action="#{grupoBean.listar}" />
		</f:metadata>

		<div class="conteudo_titulo">Grupos</div>

		<div style="width: 98%; margin: 0 auto;">
			<h:form id="frm">

				<p:growl id="msgs" sticky="false" life="3000" />


				<p:toolbar id="toolbar">
					<f:facet name="right">
						<p:commandButton icon="ui-icon-arrowthick-1-s"
							alt="Download em .xls" title="Download em .xls" ajax="false"
							immediate="true">
							<p:dataExporter type="xls" target="cons_grupo" fileName="grupos" />
						</p:commandButton>

						<span class="ui-separator"> <span
							class="ui-icon ui-icon-grip-dotted-vertical" />
						</span>

						<p:commandButton value="Novo" icon="ui-icon-document" alt="Novo"
							title="Novo" action="#{grupoBean.novo}" process="@this"
							update="dialog_grupo" oncomplete="PF('edicaoGrupoDialog').show()">
							<p:resetInput target="dialog_grupo" />
						</p:commandButton>
					</f:facet>
				</p:toolbar>

				<p:dataTable id="cons_grupo" value="#{grupoBean.listaGrupos}"
					var="grupo" rows="10" paginator="true" widgetVar="consGrupo"
					paginatorPosition="bottom" rowKey="#{grupo.idGrupo}"
					emptyMessage="Nenhum registro encontrado."
					paginatorTemplate=" {CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks}     
                                   {NextPageLink} {LastPageLink} {RowsPerPageDropdown} #{fn:length(grupoBean.listaGrupos)} grupos cadastrados"
					rowsPerPageTemplate="10,20,50,100">



					<p:column headerText="Editar" width="50" exportable="false"
						style="text-align: center" priority="1">
						<p:commandButton icon="ui-icon-pencil" alt="Editar" title="Editar"
							process="@this" update="dialog_grupo"
							oncomplete="PF('edicaoGrupoDialog').show()">
							<p:resetInput target="dialog_grupo" />
							<f:setPropertyActionListener value="#{grupo}"
								target="#{grupoBean.grupo}" />
						</p:commandButton>
					</p:column>


					<p:column headerText="Excluir" width="50" exportable="false"
						style="text-align: center" priority="1">
						<p:commandButton action="#{grupoBean.excluir}"
							update="cons_grupo frm:msgs" icon="ui-icon-trash" alt="Excluir"
							title="Excluir" process="@this">
							<f:setPropertyActionListener target="#{grupoBean.grupo}"
								value="#{grupo}" />
							<p:confirm header="Confirmação" icon="ui-icon-alert"
								message="Tem certeza que deseja excluir?" />
						</p:commandButton>
					</p:column>



					<p:column headerText="Módulo" sortBy="#{grupo.modulo.sigla}"
						filterBy="#{grupo.modulo.sigla}#{grupoBean.removeAcentos(grupo.modulo.sigla)}"
						filterMatchMode="contains" priority="2">
						<h:outputText value="#{grupo.modulo.sigla}" title="#{grupo.modulo.nome}"  />
					</p:column>

					

					<p:column headerText="Nome"
						sortBy="#{grupo.nome}#{grupoBean.removeAcentos(grupo.nome)}"
						filterBy="#{grupoBean.grupo.nome}" filterMatchMode="contains"
						priority="4">
						<h:outputText value="#{grupo.nome}" />
					</p:column>

					<p:column headerText="Descrição"
						sortBy="#{grupo.descricao}#{grupoBean.removeAcentos(grupo.descricao)}"
						filterBy="#{grupoBean.grupo.descricao}" filterMatchMode="contains"
						priority="4">
						<h:outputText value="#{grupo.descricao}" />
					</p:column>
					
					<p:column headerText="Nível"
						sortBy="#{grupoBean.grupo.nivel}#{grupoBean.removeAcentos(grupo.nivel)}"
						filterBy="#{grupo.nivel}" filterMatchMode="contains" priority="1">
						<h:outputText value="#{grupo.nivel}" />
					</p:column>

					<p:column headerText="Administrador"
						sortBy="#{grupo.admin}#{grupoBean.removeAcentos(grupo.admin)}"
						filterBy="#{grupoBean.grupo.admin}" filterMatchMode="contains"
						priority="4">
						<h:outputText value="#{grupo.admin ? 'SIM': 'NÃO'}" />
					</p:column>

					<p:column headerText="Ativo" filterBy="#{grupo.ativo}" priority="4">

						<f:facet name="filter">
							<p:selectOneButton onchange="PF('consGrupo').filter()">
								<f:converter converterId="javax.faces.Boolean" />
								<f:selectItem itemLabel="Todos" itemValue="" />
								<f:selectItem itemLabel="Sim" itemValue="true" />
								<f:selectItem itemLabel="Não" itemValue="false" />
							</p:selectOneButton>
						</f:facet>

						<h:outputText value="#{grupo.ativo ? 'SIM': 'NÃO'}" />
					</p:column>


				</p:dataTable>
			</h:form>
		</div>

		<p:dialog header="Cadastro de Grupo" widgetVar="edicaoGrupoDialog"
			id="dialog_grupo" resizable="false" modal="true" closeOnEscape="true"
			appendTo="@(body)">

			<h:form id="frm_grupo">

				<p:messages id="msgs_grupo" />
				<p:defaultCommand target="btn_salvar" scope="dialog_grupo" />
				<h:inputHidden id="id_grupo" value="#{grupoBean.grupo.idGrupo}" />
				<h:inputHidden id="nivel" value="#{grupoBean.grupo.nivel}" />

				<h:panelGrid id="painel_edicao_dialog">
					<p:fieldset legend="Módulo" style="margin-bottom:20px">
						<p:panelGrid>
							<p:row>
								<p:column>
									<p:outputLabel value="Nome" for="modulo" />
								</p:column>
								<p:column>
									<p:selectOneMenu id="modulo" required="true"
										requiredMessage="O campo Módulo é obrigatório."
										value="#{grupoBean.grupo.modulo.idModulo}">
										<f:selectItems value="#{grupoBean.listaModulos}" />
									</p:selectOneMenu>
								</p:column>
							</p:row>
						</p:panelGrid>
					</p:fieldset>


					<p:fieldset legend="Grupo" style="margin-bottom:20px">
						<p:panelGrid>
							
							<p:row>
								<p:column>
									<p:outputLabel value="Nome" for="nome" />
								</p:column>
								<p:column>
								<p:inputText id="nome" required="true" label="Nome" size="30"
									onkeyup="this.value=this.value.toUpperCase()" maxlength="50"
									requiredMessage="O campo nome é obrigatório."
									value="#{grupoBean.grupo.nome}">
								</p:inputText>
								</p:column>
							</p:row>
							<p:row>
								<p:column>
									<p:outputLabel value="Descrição" for="descricao" />
								</p:column>
								<p:column>
									<p:inputText id="descricao" required="true" label="Descricao"
										size="30" onkeyup="this.value=this.value.toUpperCase()"
										maxlength="50"
										requiredMessage="O campo descrição é obrigatório." value="#{grupoBean.grupo.descricao}">
								
								</p:inputText></p:column>

							</p:row>
							
							<p:row>
								<p:column>
								<p:outputLabel value="Ativo" for="ativo" />
								</p:column>
								<p:column>
									<p:selectBooleanButton id="ativo" label="Ativo" onLabel="SIM"
										required="true" offLabel="NÃO"
										value="#{grupoBean.grupo.ativo}" />
								</p:column>
							</p:row> 
						</p:panelGrid>
					</p:fieldset>
				</h:panelGrid>

<p:panelGrid>
 <p:row>								<p:column>
									<p:outputLabel value="Administrador"/>
								</p:column>
								<p:column>
									<p:selectBooleanCheckbox value="#{grupoBean.grupo.admin}" />
								</p:column>
							</p:row>
							
</p:panelGrid>
				<br />
				<p:separator />
				<p:outputPanel
					style="margin: 20px 0px 20px 0px; width: 100%; display: table;">
					<p:commandButton id="btn_salvar" value="Salvar"
						icon="ui-icon-check" action="#{grupoBean.salvar}"
						process="dialog_grupo" update="msgs_grupo painel_edicao_dialog"
						oncomplete="if(!args.validationFailed) PF('edicaoGrupoDialog').hide()"
						style="float: right;" />
				</p:outputPanel>

			</h:form>

		</p:dialog>





	</ui:define>
	</ui:composition>