<ui:composition template="/page/mseg/mseg.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:composite="http://xmlns.jcp.org/jsf/composite"
	xmlns:sec="http://www.springframework.org/security/tags"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions">

	<ui:define name="pagina">

		<f:metadata>
			<f:viewAction action="#{logBean.listar}" />
		</f:metadata>

	<div style="width: 98%; margin: 0 auto;">
		<h:form id="frm">

			<div class="conteudo_titulo">Auditoria</div>

			<p:toolbar id="toolbar">
				<f:facet name="right">
					<p:commandButton icon="ui-icon-arrowthick-1-s"
						alt="Download em .xls" title="Download em .xls" ajax="false"
						immediate="true">
					</p:commandButton>
				</f:facet>
			</p:toolbar>

			<p:dataTable id="cons_auditoria" value="#{logBean.listaLogs}"
				var="auditoria" rows="10" paginator="true" widgetVar="consAuditoria"
					paginatorPosition="bottom"
					emptyMessage="Nenhum registro encontrado."
					currentPageReportTemplate="Total: {totalRecords} Registros - Pág.: {currentPage}/{totalPages}"
					paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} Qtd. de Reg. por pág. "
                    rowsPerPageTemplate="10,20,50,100">

				<p:column headerText="Usuário" width="70" filterMatchMode="contains"
					filterBy="#{auditoria.usuario}" sortBy="#{auditoria.usuario}">
					<h:outputText value="#{auditoria.usuario}" />
				</p:column>

				<p:column headerText="Data" width="60" filterMatchMode="contains"
					filterBy="#{auditoria.dataAlteracao}"
					sortBy="#{auditoria.dataAlteracao}">

					<h:outputText value="#{auditoria.dataAlteracao}">
						<f:convertDateTime pattern="dd/MM/yyyy" locale="pt_BR"
							timeZone="America/Sao_Paulo" />
					</h:outputText>
				</p:column>

				<p:column headerText="Hora" width="60" filterMatchMode="contains"
					filterBy="#{auditoria.dataAlteracao}"
					sortBy="#{auditoria.dataAlteracao}">
					<h:outputText value="#{auditoria.dataAlteracao}">
						<f:convertDateTime pattern="HH:mm:ss" locale="pt_BR"
							timeZone="America/Sao_Paulo" />
					</h:outputText>
				</p:column>

				<p:column headerText="Ação" width="60" filterMatchMode="contains"
					filterBy="#{auditoria.acao.descricao}"
					sortBy="#{auditoria.acao.descricao}">
					<h:outputText value="#{auditoria.acao.descricao}" />
				</p:column>
				
				<p:column headerText="Tabela" width="80" filterMatchMode="contains"
						filterBy="#{auditoria.nomeTabela}"
						sortBy="#{auditoria.nomeTabela}">
						<h:outputText value="#{auditoria.nomeTabela}" />
					</p:column>

				<p:column headerText="Valor Antigo" width="230"
					filterMatchMode="contains" filterBy="#{auditoria.valorAntigo}"
					sortBy="#{auditoria.valorAntigo}">
					<h:outputText value="#{auditoria.valorAntigo}"
						converter="converter.FormataTextoConverterUtil" />
				</p:column>

				<p:column headerText="Valor Novo" width="230"
					filterMatchMode="contains" filterBy="#{auditoria.valorNovo}"
					sortBy="#{auditoria.valorNovo}">
					<h:outputText value="#{auditoria.valorNovo}"
						converter="converter.FormataTextoConverterUtil" />
				</p:column>
			</p:dataTable>



		</h:form>
</div>


	</ui:define>

</ui:composition>