<ui:composition template="/page/mseg/mseg.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:composite="http://xmlns.jcp.org/jsf/composite"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions">

	<ui:define name="conteudo">


		<f:metadata>
			<f:viewAction action="#{usuarioBean.carregarUsuario}" />
		</f:metadata>


		<div class="conteudo_titulo">Alterar Senha</div>

		<h:form id="frm">

			<p:growl id="msgs" sticky="true" life="1000" />


			<p:defaultCommand target="btn_salvar" scope="frm" />

		<!-- 	<h:inputHidden id="email" value="#{usuarioBean.usuario.email}" /> -->
			<h:inputHidden id="ativo" value="#{usuarioBean.usuario.ativo}" />


			<div class="conteudo_padrao_botoes_form_alto">
				<p:commandButton id="btn_salvar" value="Salvar Alteração"
					style="width:150px" icon="ui-icon-check" ajax="false"
					action="#{usuarioBean.alterarSenha}" />
			</div>

			<h:panelGrid style="margin: 0 auto;" columns="2">
				<p:outputLabel value="Senha atual" for="senha_atual" />
				<p:password id="senha_atual" label="senha_atual" size="10"
					required="true" autocomplete="off"
					requiredMessage="O campo Senha atual é obrigatório."
					redisplay="true" value="#{usuarioBean.senhaAnterior}" />


				<p:outputLabel value="Nova senha" for="senha" />
				<p:password id="senha" label="Senha" size="10" required="true" autocomplete="off"
					feedback="true" promptLabel="Mínimo de 8 caracteres"
					weakLabel="Força da senha: Fraca" goodLabel="Força da senha: Média"
					strongLabel="Força da senha: Forte"
					requiredMessage="O campo Nova senha é obrigatório."
					redisplay="true" value="#{usuarioBean.novaSenha}">
					<f:validateLength minimum="8" />
				</p:password>

				<p:outputLabel value="Confirmar senha" for="confirmar_senha" />
				<p:password id="confirmar_senha" label="Confirmar Senha" size="10" autocomplete="off"
					required="true" title="Redigite sua Nova senha"
					requiredMessage="O campo Confirmar senha é obrigatório."
					redisplay="true" value="#{usuarioBean.confirmarSenha}" />
			</h:panelGrid>
			<p:tooltip for="confirmar_senha" id="tip" showEvent="focus" />



		</h:form>

	</ui:define>
</ui:composition>






