<ui:composition template="/page/mseg/mseg.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:composite="http://xmlns.jcp.org/jsf/composite"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions">

	<ui:define name="pagina">

		<f:metadata>
			<f:viewParam name="id" value="#{grupoTarefaBean.grupo.idGrupo}" />
			<f:viewAction action="#{grupoTarefaBean.carregar}" />
		</f:metadata>

		<div class="conteudo_titulo">Cadastro de Grupo/Tarefa</div>
		<h:form id="frm_grupo">

			<p:messages id="msgs_grupo" />

			<!-- <h:inputHidden id="id_grupo" value="#{grupoTarefaBean.grupo.idGrupo}" /> -->
			<h:inputHidden id="nivel" value="#{grupoTarefaBean.grupo.nivel}" />
			<p:fieldset id="fieldGrupoTarefa" style="width:30%">
				<p:panelGrid id="painel_edicao_dialog" style="margin: 0 auto"
					columns="1">

					<p:fieldset legend="Modulo" style="margin-bottom:20px">
						<p:panelGrid>
							<p:row>
								<p:column>
									<p:outputLabel value="Modulo" for="modulo" />
								</p:column>
							</p:row>

							<p:row>
								<p:column>
									<p:selectOneMenu id="modulo" required="true"
										requiredMessage="O campo Módulo é obrigatório."
										value="#{grupoTarefaBean.modulo.idModulo}">
										<f:selectItems value="#{grupoTarefaBean.listaModulos}" />
									</p:selectOneMenu>
								</p:column>
							</p:row>
						</p:panelGrid>
					</p:fieldset>

					<p:fieldset legend="Grupo" style="margin-bottom:20px">
						<p:panelGrid>
							<p:row>
								<p:column>
									<p:outputLabel value="Grupo" for="grupo" />
								</p:column>
							</p:row>

							<p:row>
								<p:column>
									<p:selectOneMenu id="grupo" required="true"
										requiredMessage="O campo Gropo é obrigatório."
										value="#{grupoTarefaBean.grupo.idGrupo}">
										<f:selectItems value="#{grupoTarefaBean.listaGruposItens}" />
									</p:selectOneMenu>
								</p:column>
							</p:row>
						</p:panelGrid>
					</p:fieldset>

					<p:panelGrid>
						<p:row>
							<p:column>
								<p:outputLabel value="Administrador" />
							</p:column>
							<p:column>
								<p:selectBooleanCheckbox value="#{grupoTarefaBean.grupo.admin}" />
							</p:column>
						</p:row>

					</p:panelGrid>

					<br />
					<p:separator />
				</p:panelGrid>
				<h3>Permissões do Grupo</h3>
				<p:selectManyCheckbox id="grupoTarefas"
					value="#{grupoTarefaBean.tarefas}" layout="responsive" columns="4">
					<f:selectItems value="#{grupoTarefaBean.listaTarefas}" var="tarefa"
						itemLabel="#{tarefa.nome}" itemValue="#{tarefa}" />
				</p:selectManyCheckbox>

				<p:outputPanel
					style="margin: 20px 0px 20px 0px; width: 100%; display: table;">
					<p:commandButton id="btn_salvar" value="Salvar" process="@form"
						icon="ui-icon-check" action="#{grupoTarefaBean.salvar}"
						update="msgs_grupo frm_grupo:painel_edicao_dialog"
						oncomplete="if(!args.validationFailed) PF('edicaoGrupoDialog').hide()"
						style="float: right;" />
				</p:outputPanel>
			</p:fieldset>
		</h:form>
		<!-- :msgs_grupo :frm_grupo:painel_edicao_dialog" -->
	</ui:define>
</ui:composition>