<ui:composition template="/WEB-INF/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:composite="http://xmlns.jcp.org/jsf/composite">


	<ui:define name="conteudo">

		<p:layout>
			<p:layoutUnit position="west" collapsible="true" id="mrh_tree" size="230"
				resizable="true" header="Segurança" gutter="0">
				<ui:include src="mseg_tree.xhtml" />
			</p:layoutUnit>


			<p:layoutUnit position="center" collapsible="true" id="mseg_pagina"
				gutter="0">
				<ui:insert name="pagina" />
			</p:layoutUnit>
		</p:layout>
		
	</ui:define>


</ui:composition>