<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:composite="http://xmlns.jcp.org/jsf/composite"
	xmlns:p="http://primefaces.org/ui"

xmlns:sec="http://www.springframework.org/security/facelets/tags"
	>
<!-- 	xmlns:sec="http://www.springframework.org/security/tags"  -->

	<h:form>
	
			<sec:ifAnyGranted roles="ADMINISTRADOR, DTEC">
				<p:panelMenu style="border: 0;" id="frmMenu" stateful="true">
					<p:submenu label="Auditoria" expanded="true">
							<p:menuitem value="Auditoria" url="/page/mseg/cons_auditoria.xhtml" icon="fa  fa-hdd-o" />
						</p:submenu>
						<p:submenu label="Segurança" expanded="true">
							<p:menuitem value="Usuários" url="/page/mseg/cons_usuario.xhtml" icon="fa  fa fa-user" />
							<p:menuitem value="Alterar Senha" url="/page/mseg/form_usuario_senha.xhtml" icon="fa  fa-key" />
						</p:submenu>
				</p:panelMenu>
			</sec:ifAnyGranted>
	</h:form>

</ui:composition>

