@CHARSET "UTF-8";

/*VERMELHO PM
	#C4261D
  AZUL PM
	#142D65
LARANJA ou AMARELO HOVER PM
	#FFA500
	#FFF400
CINZA PM
	#757575*/


/* .ui-dialog, .ui-dialog-titlebar {
	background-image: none;
	background: none;
} */

#dialog {
	width: 100%;
	padding-top: 15%
	
}
@media screen  and (max-width:980px){
	#dialog {
	padding-top: 5%
}
}




body {
	background: #007FBF;
	/* background: url("#{resource['img/bg_1.png']}") repeat-x top fixed; */
	font-family: 'Open Sans', Arial, Helvetica, Sans-serif, Verdana, Tahoma;
}

.input {
	margin: 10px 3px 5px 18px;
	color: #4D4D4D;
	border: none;
	height: 3.0em;
	width: 285px;
	padding-left: 15px;
	border-radius: 15px;
}


.btn_login {
	margin: 10px 3px 10px 18px;
	color: #4D4D4D;
	border: none;
	height: 3.0em;
	width: 300px;
	border-radius: 15px;
	background-color: #BAC0C4;
	font-weight: bold;

}
.btn_login:HOVER {
	background: #4D4D4D;
	color: #BAC0C4;
	opacity: 0.6;
}
.btn_login:FOCUS {
	background: #4D4D4D;
	color: #BAC0C4;
	opacity: 0.6;
}




.btn_esqueceu {
	margin: 10px 3px 10px 18px;
	color: #4D4D4D;
	border: none;
	height: 2.8em;
	width: 285px;
	border-radius: 15px;
	background-color: #BAC0C4;
	font-weight: bold;

}
.btn_esqueceu:HOVER {
	background: #FFF400;
	opacity: 0.6;
}
.btn_esqueceu:FOCUS {
	background: #FFF400;
	opacity: 0.6;
}
