<ui:composition template="/page/esgc/esgc.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions">

	<ui:define name="pagina">

		<h1 style="text-align: center;">Relatórios</h1>

		<div style="width: 98%; margin: 0 auto;">
			<h:form id="frm" target="_blank">
				<p:growl id="msgs" sticky="false" life="3000" />

				<h:panelGrid columns="3" cellpadding="20"
					style="text-align: center; width: 100%;">
				
					<p:panel id="panel1" header="Relatorio de Competência"
						style="width:250px; margin-left:auto; margin-right:auto;">
						<p:commandButton alt="BG" label="Relatorio de Competência"
							title="Relatorio de Competência" icon="fa  fa-indent"
							style="width: 70px;height:40px;" process="@this"
							update=":dialog_rel_cargoQuadro"
							oncomplete="PF('edicaoCargoQuadroDialog').show()">
							<p:resetInput target="dialog_rel_cargoQuadro" />
						</p:commandButton>
					</p:panel> 	
				</h:panelGrid>
			</h:form>
		</div>
		

		<!-- Efetivo X CargoQuadro -->
		<p:dialog widgetVar="edicaoCargoQuadroDialog"
			id="dialog_rel_cargoQuadro" resizable="false" modal="true"
			closeOnEscape="true" responsive="true" appendTo="@(body)"
			header="Relatório de Competência">

			<h:form id="frm_dialog2" target="_blank">

				<p:messages id="msgs_dialog2" />

				<h:panelGrid id="painel_edicao_dialog2" layout="block"
					styleClass="ui-fluid">

					<p:panelGrid layout="grid" columns="2"
						styleClass="panelgrid-noborder"
						columnClasses="ui-grid-col-3, ui-grid-col-9">				

					</p:panelGrid>

				</h:panelGrid>

				<br />

				<p:separator />
				<p:outputPanel
					style="margin: 20px 0px 20px 0px; width: 75%; display: table;">
					<h:commandButton id="btn_salvar2" value="Visualizar"
						target="_blank" class="ui-button-text ui-c"
						action="#{relatorioBean.pesquisar}" icon="fa  fa-check"
						style="float: right; width: 100px;" />
						
				</p:outputPanel>

			</h:form>

		</p:dialog>		

	</ui:define>

</ui:composition>