/* BASE */
body {
	margin: 0;
	font-size: 13px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* TABVIEW */
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a {
	color: #555;
}

@media (max-width: 640px) {
	.ui-tabs.ui-tabs-top > .ui-tabs-nav li {
		width: 100%;
	}
}

/* PANELGRID */
.ui-panelgrid.panelgrid-noborder .ui-grid-responsive {
	border: none;
}

@media (max-width: 640px) {
	.ui-panelgrid.panelgrid-noborder .ui-grid-responsive .ui-grid-row {
		border: none;
	}
}

.aumentou {
        color: #DC143C !important;
        background: #F6CECE;
    }
.diminuiu {
        color: 	#008000 !important;
        background: #CEF6E3;
    }
 .manteve {
        color: 	#808000 !important;
        background: #F5ECCE;
    }
 .impossivel {
        color: 	#4B0082 !important;
         background: #E3CEF6;
    }
    
     .direita {
       text-align:right;
    }
    