@CHARSET "UTF-8";

body {
	margin: 0;
	font-size: 14px;
	font-family: 'Open Sans', Arial, Helvetica, Sans-serif, Verdana, Tahoma;
}

.aw-toggle {
	float: left;
	line-height: 14px;
	margin-left: 10px;
	margin-top: 15px;
	color: #fff;
	font-size: 25px;
}
.aw-toggle:hover {
	color: #AAAAAA;
}


/* Cabeçalho: início das definições */
#header {
	/* background-color: #142D65; */
	background-color:#007FBF; 
	color: #FFFFFF;
	box-shadow: 0px 5px 5px #CCC;
	width: 100%;
	text-transform: uppercase;
	display: table;
}

#header_app {
	margin: 18px 10px 8px 10px;
	padding-left: 10px;
	float: left;
}

#header_app>a {
	color: #fff;
}

#header_app :hover {
	color: #FFFF00;
}

#header_logo {
	margin: 5px 10px 3px 10px;
	float: left;
}

#header_titulo {
	margin: 16px 10px 10px 5px;
	font-size: 15px;
	letter-spacing: 5px;
	float: left;
}

#header_user {
	margin: 18px 10px 3px 10px;
	font-size: 14px;
	float: right;
	color: white;
}
/*definições acesso rapido*/
/* #header_inf {
	margin: 0px 100px 3px 10px;
	ffont-weight: bold;
	font-size: 11px;
	float: right;
} */
#header_app_inf {
	margin: 19px 10px 8px 10px;
	float: right;
}

#header_app_inf :hover {
	color: #FFFF00;
}

#header_sair {
	margin: 19px 10px 8px 10px;
	padding-right: 10px;
	float: right;
}

#header_sair a {
	text-decoration: none;
	color: #FFFFFF;
}

#header_sair :hover {
	color: #FFFF00;
}

.conteudo_titulo {
	margin: 0;
	padding: 5px 0;
	font-size: 1.5em;
	color: #4D4D4D;
	width: 100%;
	text-align: center;
}

.conteudo_padrao_botoes_form_alto {
	margin-bottom: 18px;
	width: 100%;
	text-align: center;
}


/* Personalização do primefaces */
.ui-layout-pane-center.ui-widget-content {
	border: none;
}

.ui-layout {
	margin: 0px;
	padding: 0px;
}

.ui-layout-pane-north.ui-widget-content {
	border: none;
	padding: 0px;
	margin: 0px;
}

.ui-layout-pane-center.ui-widget-content {
	border: none;
	padding: 0px;
	margin: 0px;
}

.ui-datatable .ui-datatable-data {
	font-size: 12px;
}

/* Linhas alternadas grid */
/* .ui-datatable .ui-datatable-data .ui-datatable-odd td {
	background-color: #FFFFFF;
}

.ui-datatable .ui-datatable-data .ui-datatable-even td {
	background-color: #F2F5F9;
} */

/* Cor menu */
.ui-menubar, .ui-menu-child, .ui-menu {
	background: #F0F2F4 !important;
}

.ui-menubar, .ui-menu-child, .ui-menu :hover {
	background: #21A9FF;
	color: #FFFFFF;
}

.ui-outputlabel-rfi {
	color: #FF0000;
}

/*Tirar as bordas do painelgrid*/
.ui-panelgrid td, .ui-panelgrid tr {
	border-style: none !important
}

/* Largura da barra de rolagem */
::-webkit-scrollbar {
	width: 5px;
}

/* Fundo da barra de rolagem */
::-webkit-scrollbar-track-piece {
	background-color: #EEE;
	border-left: 1px solid #CCC
}

/* Cor do indicador de rolagem */
::-webkit-scrollbar-thumb:vertical, ::-webkit-scrollbar-thumb:horizontal
	{
	background-color: #BAC0C4;
	/* background-color: #6FA2BA; */
}

/* Cor do indicador de rolagem - ao passar o mouse */
::-webkit-scrollbar-thumb:vertical:hover, ::-webkit-scrollbar-thumb:horizontal:hover
	{
	background-color: #717171;
	/* background-color: #1E94D2; */
}

/* Cor do disable */
.ui-state-disabled {
	opacity: .80 !important;
}

/* PANELGRID */
.ui-panelgrid.panelgrid-noborder .ui-grid-responsive {
	border: none;
}

/* Dashboard Menu dos modulos */
#pg_menu_alternativo {
	position: absolute;
	left: 50%;
	top: 40%;
	margin-left: -175px;
	margin-top: -80px;
}

#pg_menu {
	display: block;
	position: absolute;
	top: 40%;
	left: 40%;
	margin-top: -50px;
	margin-left: -50px;
	background-color: #5bb2fc;
}

#img_mrh, #img_ope, #img_log {
	background-color: #5bb2fc;
}

/* Cor do link menu */
#link_menu {
	color: #fff;
}

#rapido {
	color: #fff;
}


#ajuda_bairro,#ajuda_banco, #ajuda_cargo, #ajuda_cargo_quadro,#ajuda_cidade,#ajuda_curso_area,#ajuda_escolaridade,
#ajuda_estado,#ajuda_estado_civil,#ajuda_gratificacao,#ajuda_funcao,#ajuda_organizacao{
	color: #5bb2fc;		
	margin-top: 300px;
	margin-left: 1330px;
}


#class="ui-datatable ui-widget ui-datatable-reflow"{
	font-size:20px;
}
