.wrapper {
    padding: 0;
}

.wrapper .sidebar {
    position: fixed;
    width: 220px;
    height: 100%;
    z-index: 102;
    -moz-transition: margin-left 0.3s;
    -o-transition: margin-left 0.3s;
    -webkit-transition: margin-left 0.3s;
    transition: margin-left 0.3s;
    background-color: #4e5159;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#4e5159), to(#1f2023));
    background-image: -webkit-linear-gradient(top, #4e5159, #1f2023);
    background-image: -moz-linear-gradient(top, #4e5159, #1f2023);
    background-image: -ms-linear-gradient(top, #4e5159, #1f2023);
    background-image: -o-linear-gradient(top, #4e5159, #1f2023);
    background-image: linear-gradient(top, #4e5159, #1f2023);
    filter: progid: DXImageTransform.Microsoft.gradient(start-colourStr='#4e5159', end-colourStr='#1f2023');
}

.wrapper .sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper .sidebar ul li > a {
    position: relative;
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    padding: 15px;
    display: block;
    box-sizing: border-box;
    border-top: 1px solid #4e5159;
    -moz-transition: padding-left 0.3s;
    -o-transition: padding-left 0.3s;
    -webkit-transition: padding-left 0.3s;
    transition: padding-left 0.3s;
}
.wrapper .sidebar ul li > a span {
    margin-left: .3em;
}

.wrapper .sidebar ul li > a .fa:last-child {
    float: right;
    font-size: 16px;
}
.wrapper .sidebar ul li > a:hover {
    padding-left: 20px;
    color: #2399e5;
}

 .wrapper .sidebar ul li.active-menuitem > a {
    border-bottom: 0 none;
    background-color: #2e3035;
    color: #2399e5;
}  
  .wrapper .sidebar ul li.active-menuitem > a .fa:last-child {
    background: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center;
    font-size: 16px;
}
.wrapper .sidebar ul li.active-menuitem > a .fa:last-child:before {
    content: "";
}
.wrapper .sidebar ul li.active-menuitem > ul {
    background-color: #2e3035;
} 


/* O que nao faz aparecer o erro do F5 */
.wrapper .sidebar ul li > ul {
    display: none;
    padding-left: 20px;
}
.wrapper .sidebar ul li > ul li a {
    padding: 10px 15px;
    font-size: 13px;
    border-top: 0 none;
    
    
}
.wrapper .sidebar ul li > ul li:last-child > a {
    border-bottom: 0 none;
    
}
.wrapper .sidebar ul li:last-child > a {
    border-bottom: 1px solid #4e5159;
    
}

/* .wrapper .sidebar > ul li.selected a { algaworks
	margin-left: -3px;
	color: #2399e5; */
} 



 .wrapper .sidebar ul li.selected > a {
    border-bottom: 0 none;
    /* background-color: #2e3035; */
    color: #2399e5;
    
  
} 


