<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:composite="http://xmlns.jcp.org/jsf/composite"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:sec="http://www.springframework.org/security/facelets/tags"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<f:facet name="first">
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	</f:facet>

	<title>e-SGC</title>

	<h:outputStylesheet library="pmpe" name="styles/custom.css" />
	<h:outputStylesheet library="pmpe" name="styles/layout.css" />
	<h:outputStylesheet library="pmpe" name="styles/components.css" />
	<h:outputStylesheet library="pmpe" name="styles/geral.css" />

	<h:outputScript target="body" library="primefaces" name="jquery/jquery.js" />
	<h:outputScript target="body" library="pmpe" name="javascripts/app.js" />
</h:head>

<h:body>
	
	<header class="aw-topbar">
		<h:graphicImage library="pmpe" name="images/logo.png" />

		 		<a href="#" class="aw-toggle  js-toggle"><i class="fa  fa-bars"></i></a>
 
	</header>


 	<aside class="aw-sidebar  js-sidebar">
		<ui:include src="Menu.xhtml"/>
	</aside>

	<section class="aw-content  js-content">
		<ui:insert name="content" />
	</section>
	
</h:body>

</html>