<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html">
	
	<nav class="aw-menu">
		<ul>
		
		<li class="is-selected">
				<p><i class="fa  fa-fw  fa-home"></i>CONTAS</p>
			</li>
		
			<!-- <li class="is-selected"> -->
			<li>
				<h:link  outcome="cadastro_contas.xhtml"><i class="fa  fa-fw  fa-pencil"></i>Cadastro de Faturas</h:link>
			</li>
				<h:link outcome="agua.xhtml"><i class="fa  fa-fw  fa-tint"></i>Água</h:link>
			
			<li>
				<h:link  outcome="luz.xhtml"><i class="fa  fa-fw  fa-lightbulb-o"></i>Luz</h:link>
			</li>
			<li>
				<h:link  outcome="tipo_conta.xhtml"><i class="fa  fa-fw  fa-book"></i>Contas Cadastradas</h:link>
			</li>
			<li>
				<!-- <h:link><i class="fa  fa-fw  fa-cog"></i>Página 3</h:link> -->
			</li>
		</ul>
	</nav>
	
</ui:composition>

