<ui:composition template="/page/esgc/esgc.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:composite="http://xmlns.jcp.org/jsf/composite"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions">

	<ui:define name="pagina">
		<f:metadata>
			<f:viewAction action="#{cadastroContasBean.listar}" />
		</f:metadata>

		<div class="conteudo_titulo">Cadastro de Contas</div>
		<div class="ui-fluid">
			<h:form id="frm1" prependId="false">
				<p:tab title="Endereço">
					<p:fieldset legend="#{cadastroContasBean.imovel.nome}">
						<p:panelGrid id="pgEnderecoImovel" columns="4"
							columnClasses="ui-grid-col-2,ui-grid-col-2,ui-grid-col-2,ui-grid-col-6"
							layout="grid" styleClass="ui-panelgrid-blank">

							<p:outputLabel value="CEP" for="cepImovel" />
							<p:inputMask id="cepImovel" label="CEP" size="20" maxlength="10"
								onfocus="JQuery('#numroImovel').focus"
								value="#{cadastroContasBean.imovel.cep}" mask="99999-999"
								onchange="findCEP()" disabled="true" />

							<p:outputLabel value="Logradouro" for="logradouroImovel" />
							<p:inputText id="logradouroImovel" onkeyup="alteraMaiusculo()"
								label="Logradouro" size="110" disabled="true"
								value="#{cadastroContasBean.imovel.logradouro}" />

							<p:outputLabel value="Número" for="numeroImovel" />
							<p:inputMask id="numeroImovel" label="Número" size="20"
								maxlength="10" value="#{cadastroContasBean.imovel.numero}"
								mask="9?999999999999" disabled="true" />

							<p:outputLabel value="Bairro" for="bairroImovel" />
							<p:inputText id="bairroImovel" onkeyup="alteraMaiusculo()"
								label="bairro" size="24" disabled="true"
								value="#{cadastroContasBean.imovel.bairro}" />

							<p:outputLabel value="Cidade" for="cidadeImovel" />
							<p:inputText id="cidadeImovel" onkeyup="alteraMaiusculo()"
								label="Cidade" size="24" disabled="true"
								value="#{cadastroContasBean.imovel.cidade}" />

							<p:outputLabel value="Complemento" for="complementoImovel" />
							<p:inputText id="complementoImovel" onkeyup="alteraMaiusculo()"
								label="Complemento" maxlength="255" size="55" disabled="true"
								value="#{cadastroContasBean.imovel.complemento}" />

							<p:outputLabel value="Telefone" for="telefoneImovel" />
							<p:inputText id="telefoneImovel" label="Telefone" size="20"
								maxlength="15" styleClass="telefoneFix" disabled="true"
								value="#{cadastroContasBean.imovel.telefone}"
								onfocus="phoneMaskHandler(event);"
								onblur="phoneMaskHandler(event);">
								<f:validateRegex
									pattern="^(\(?(\d{2})\)?\s?-?\s?(\d{4}|\d{5})\s?-?\s?(\d{4}))$" />
							</p:inputText>

							<p:outputLabel value="Ponto de Ref." for="prImovel" />
							<p:inputText id="prImovel" onkeyup="alteraMaiusculo()"
								disabled="true" label="Ponto de Referência" size="50"
								maxlength="255"
								value="#{cadastroContasBean.imovel.pontoReferencia}" />

						</p:panelGrid>

					</p:fieldset>
				</p:tab>
			</h:form>
		</div>

		<div style="width: 100%; margin: 0 auto;">

			<p:panelGrid columns="1" style="width:100%"
				columnClasses="ui-grid-col-12" layout="grid">
				<h:form id="frm" prependId="false">

					<p:growl id="msgs" sticky="false" life="3000" />

					<p:toolbar id="toolbar">
						<f:facet name="left">
							<p:commandButton icon="ui-icon-help" id="ajuda_imovel"
								oncomplete="popupwindow('/esgc/page/ajuda/ajuda_conta.xhtml', 'newwindow');"
								alt="Ajuda" title="Ajuda">
							</p:commandButton>
						</f:facet>
						<f:facet name="right">
							<p:commandButton icon="ui-icon-arrowthick-1-s"
								alt="Download em .xls" title="Download em .xls" ajax="false"
								immediate="true">
								<p:dataExporter type="xls" target="tb_conta" fileName="Contas" />
							</p:commandButton>

							<span class="ui-separator"> <span
								class="ui-icon ui-icon-grip-dotted-vertical" />
							</span>

							<p:commandButton value="Novo" icon="ui-icon-document" alt="Conta"
								title="Nova Conta" process="@this" update="dialog_conta"
								action="#{cadastroContasBean.novo}"
								oncomplete="PF('edicaoContaDialog').show()">
								<p:resetInput target="dialog_conta" />
							</p:commandButton>


						</f:facet>
					</p:toolbar>

					<p:dataTable id="tb_conta" reflow="true"
						value="#{cadastroContasBean.listaContas}" var="conta" rows="10"
						paginator="true" widgetVar="conta" paginatorPosition="bottom"
						rowKey="#{conta.idConta}"
						emptyMessage="Nenhum registro encontrado."
						paginatorTemplate=" {CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks}     
                                   {NextPageLink} {LastPageLink} {RowsPerPageDropdown} #{fn:length(cadastroContasBean.listaContas)} Lista de Contas Cadastrados"
						rowsPerPageTemplate="10,20,50,100">

						<p:column width="67" exportable="false">
							<p:commandButton icon="ui-icon-pencil" alt="Editar"
								title="Editar" process="@this" update="dialog_conta"
								oncomplete="PF('edicaoContaDialog').show()"
								style="margin-right: 7px">
								<p:resetInput target="dialog_conta" />
								<f:setPropertyActionListener value="#{conta}"
									target="#{cadastroContasBean.conta}" />
							</p:commandButton>

							<p:commandButton action="#{cadastroContasBean.excluirConta}"
								update="tb_conta msgs" icon="ui-icon-trash" alt="Excluir"
								title="Excluir" process="@this">
								<f:setPropertyActionListener
									target="#{cadastroContasBean.conta}" value="#{conta}" />
								<p:confirm header="Confirmação" icon="ui-icon-alert"
									message="Tem certeza que deseja excluir?" />
							</p:commandButton>
						</p:column>

						<p:column headerText="Conta" sortBy="#{conta.tipoConta.descricao}"
							filterBy="#{conta.tipoConta.descricao}#{cadastroContasBean.removeAcentos(conta.tipoConta.descricao)}"
							onkeyup="this.value=this.value.toUpperCase()"
							filterMatchMode="contains">
							<h:outputText value="#{conta.tipoConta.descricao}"
								style="horizontal-align:center" />
						</p:column>
						
						<p:column headerText="Grupo"
							sortBy="#{conta.grupo.grupo}"
							filterBy="#{conta.grupo.grupo}#{cadastroContasBean.removeAcentos(conta.grupo.grupo)}"
							onkeyup="this.value=this.value.toUpperCase()"
							filterMatchMode="contains">
							<h:outputText value="#{conta.grupo.grupo}"
								style="horizontal-align:center" />
						</p:column>

						<p:column headerText="Contrato/Matrícula"
							sortBy="#{conta.nContratoMatricula}" priority="1"
							filterBy="#{conta.nContratoMatricula}#{cadastroContasBean.removeAcentos(conta.nContratoMatricula)}"
							onkeyup="this.value=this.value.toUpperCase()"
							filterMatchMode="contains">
							<h:outputText value="#{conta.nContratoMatricula}"
								style="horizontal-align:center" />
						</p:column>

						<p:column headerText="Medidor/Hidrômetro"
							sortBy="#{conta.hidrometroMedidor}"
							filterBy="#{conta.hidrometroMedidor}#{cadastroContasBean.removeAcentos(conta.hidrometroMedidor)}"
							onkeyup="this.value=this.value.toUpperCase()"
							filterMatchMode="contains">
							<h:outputText value="#{conta.hidrometroMedidor}"
								style="horizontal-align:center" />
						</p:column>

					</p:dataTable>
				</h:form>
				<p:dialog header="Cadastro de Contas" responsive="true"
					widgetVar="edicaoContaDialog" id="dialog_conta" resizable="false"
					modal="true" closeOnEscape="true" appendTo="@(body)">

					<h:form id="frm_dialog_conta" prependId="false">
						<p:messages id="msgs_dialog" />
						<p:defaultCommand target="btn_salvar" scope="dialog_conta" />
						<h:inputHidden id="id_conta"
							value="#{cadastroContasBean.conta.imovel.idImovel}" />
						<f:param name="frm" value="#{cadastroImovelBean.imovel.idImovel}" />

						<div class="ui-fluid">

							<p:panelGrid id="painel_conta_dialog" class="ui-fluid">

								<p:panelGrid id="teste" columns="4"
									columnClasses="ui-grid-col-2,ui-grid-col-4,ui-grid-col-2,ui-grid-col-4"
									layout="grid" styleClass="ui-panelgrid-blank">
									<p:outputLabel value="Tipo da Conta" for="tipo" />
									<p:selectOneMenu id="tipo" label="Tipo da Conta" size="30"
										required="true"
										requiredMessage="O campo Tipo da Conta é obrigatório!"
										maxlength="40" onkeyup="alteraMaiusculo()"
										value="#{cadastroContasBean.conta.tipoConta.idTipoConta}">
										<f:selectItems value="#{cadastroContasBean.listarTipoContas}" />
										<p:ajax update="teste" event="change" />
									</p:selectOneMenu>
									<p:outputLabel id="nulo" value="Número" for="numeroCon"
										rendered="#{cadastroContasBean.conta.tipoConta.idTipoConta==null?true:false}" />
									<p:outputLabel id="celpe" value="Número do Contrato"
										for="numeroCon"
										rendered="#{cadastroContasBean.conta.tipoConta.idTipoConta==1?true:false}" />
									<p:outputLabel id="compesa" value="Número da Matricula"
										for="numeroCon"
										rendered="#{cadastroContasBean.conta.tipoConta.idTipoConta==2?true:false}" />
									<p:inputText id="numeroCon" label="Número do Contrato"
										size="15" maxlength="15" required="true"
										requiredMessage="O campo Número do Contrato/Matricula é obrigatório!"
										value="#{cadastroContasBean.conta.nContratoMatricula}" />

									<p:outputLabel value="Data de Início" for="dtIniCon" />
									<p:calendar yearRange="c-100:c" navigator="true"
										effect="fadeIn" id="dtIniCon" required="true"
										requiredMessage="O campo Data de Início é obrigatório!"
										value="#{cadastroContasBean.conta.dataInicio}" locale="pt_BR"
										pattern="dd/MM/yyyy" size="14" />

									<p:outputLabel value="Data de Término" for="dtTerCont" />
									<p:calendar yearRange="c-100:c" navigator="true"
										effect="fadeIn" id="dtTerCont"
										value="#{cadastroContasBean.conta.dataFinal}" locale="pt_BR"
										pattern="dd/MM/yyyy" size="14" />

									<p:outputLabel id="nulo1" value="Número" for="medidor"
										rendered="#{cadastroContasBean.conta.tipoConta.idTipoConta==null ?true:false}" />
									<p:outputLabel id="medidor1" value="Número do Medidor"
										for="medidor"
										rendered="#{cadastroContasBean.conta.tipoConta.idTipoConta==1?true:false}" />
									<p:outputLabel id="hidrometro" value="Número do Hidrômetro"
										for="medidor"
										rendered="#{cadastroContasBean.conta.tipoConta.idTipoConta==2?true:false}" />

									<p:inputMask id="medidor" label="Medidor" size="10"
										maxlength="15" onkeyup="alteraMaiusculo()" required="true"
										requiredMessage="O campo Número do Medidor/Hidrômetro é obrigatório!"
										value="#{cadastroContasBean.conta.hidrometroMedidor}" />

									<p:outputLabel id="nulo2" value="Contrato" for="conAtivado"
										rendered="#{cadastroContasBean.conta.tipoConta.idTipoConta==null ?true:false}" />
									<p:outputLabel id="celpe2" value="Contrato Ativado"
										for="conAtivado"
										rendered="#{cadastroContasBean.conta.tipoConta.idTipoConta==1?true:false}" />
									<p:outputLabel id="compesa2" value="Matricula Ativada"
										for="conAtivado"
										rendered="#{cadastroContasBean.conta.tipoConta.idTipoConta==2?true:false}" />
									<p:inputSwitch id="conAtivado" label="Contrato Ativado"
										onLabel="Sim" offLabel="Não"
										value="#{cadastroContasBean.conta.status}" />


									<p:outputLabel value="Grupo" for="grupo" />
									<p:selectOneMenu id="grupo" label="Grupo " size="30"
										required="true" requiredMessage="O campo Grupo é obrigatório!"
										maxlength="40" onkeyup="alteraMaiusculo()"
										value="#{cadastroContasBean.conta.grupo.idGrupo}">
										<f:selectItems value="#{cadastroContasBean.listarGrupos}" />
									</p:selectOneMenu>

									<p:outputLabel value="Demanda " for="demanda"
										rendered="#{cadastroContasBean.conta.tipoConta.idTipoConta==1?true:false}" />
									<p:inputMask id="demanda" label="Demanda" size="10"
										maxlength="10" mask="9?999999999"
										rendered="#{cadastroContasBean.conta.tipoConta.idTipoConta==1?true:false}"
										value="#{cadastroContasBean.conta.demanda}" />

									<p:outputLabel
										rendered="#{cadastroContasBean.conta.tipoConta.idTipoConta!=1?true:false}" />
									<p:outputLabel
										rendered="#{cadastroContasBean.conta.tipoConta.idTipoConta!=1?true:false}" />

									<p:outputLabel value="Observações Adcionais" for="obscelpe" />
									<p:inputTextarea id="obscelpe" rows="6" cols="33"
										value="#{cadastroContasBean.conta.observacao}" />

								</p:panelGrid>

								<br />
								<p:separator />

							</p:panelGrid>
							<p:outputPanel
								style="margin: 20px 0px 20px 0px; width: 100%; display: table;">
								<p:commandButton id="btn_salvar" value="Salvar"
									icon="ui-icon-check" action="#{cadastroContasBean.salvar}"
									process="dialog_conta"
									update="msgs_dialog painel_conta_dialog "
									oncomplete="if(!args.validationFailed) PF('edicaoContaDialog').hide()"
									style="float: right; width: 100px" />
							</p:outputPanel>
						</div>
					</h:form>
				</p:dialog>
			</p:panelGrid>
		</div>
	</ui:define>
</ui:composition>