<ui:composition template="/page/esgc/esgc.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:composite="http://xmlns.jcp.org/jsf/composite"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions">

	<ui:define name="pagina">
		<!-- <f:metadata>
			<f:viewAction action="#{lancamentoImovelBean.listarImoveis}" />
		</f:metadata> -->

		<div class="conteudo_titulo">Cadastro de Imóvel</div>
		<div class="ui-fluid">
			<h:form id="frm1" prependId="false">

				<p:tabView id="cadForm" prependId="false">
					<p:tab title="Endereço">
						<p:fieldset legend="Endereço da OME">
							<a target="_blank" style="color: #0EA1FF;"
								href="http://www.buscacep.correios.com.br/sistemas/buscacep/">Não
								sei o CEP</a>
							<p:panelGrid id="pgEnderecoOme" columns="4"
								columnClasses="ui-grid-col-2,ui-grid-col-2,ui-grid-col-2,ui-grid-col-6"
								layout="grid" styleClass="ui-panelgrid-blank">

								<p:outputLabel value="OME" for="sigla" />
								<p:selectOneMenu id="sigla" required="true" autoClear="true"
									class="ui-selectonemenu-label ui-inputfield ui-corner-all"
									requiredMessage="O campo OME é obrigatório."
									value="#{cadastroImovelBean.omeView.idOrganizacao}">
									<f:selectItems value="#{cadastroImovelBean.listarOme}" />
									<p:ajax
										update="nomeOme cepOme logradouroOme numeroOme bairroOme telefoneOme cidadeOme prOme complementoOme tb_imovel"
										listener="#{cadastroImovelBean.carregarDados}"
										actionListener="{cadastroImovelBean.clone}" />
								</p:selectOneMenu>

								<p:outputLabel value="Nome" for="nomeOme" />
								<p:inputText id="nomeOme" onkeyup="alteraMaiusculo()"
									label="Nome" size="110" disabled="true"
									value="#{cadastroImovelBean.omeView.nome}" />


								<p:outputLabel value="CEP" for="cepOme" />
								<p:inputMask id="cepOme" label="CEP" size="20" maxlength="10"
									autoClear="true" value="#{cadastroImovelBean.omeView.cep}"
									mask="99999-999" disabled="true" />

								<p:outputLabel value="Logradouro" for="logradouroOme" />
								<p:inputText id="logradouroOme" onkeyup="alteraMaiusculo()"
									label="Logradouro" size="110" disabled="true"
									value="#{cadastroImovelBean.omeView.logradouro}" />

								<p:outputLabel value="Número" for="numeroOme" />
								<p:inputMask id="numeroOme" label="Número" size="20"
									disabled="true" maxlength="10"
									value="#{cadastroImovelBean.omeView.numero}"
									mask="9?999999999999" />

								<p:outputLabel value="Bairro" for="bairroOme" />
								<p:inputText id="bairroOme" onkeyup="alteraMaiusculo()"
									label="bairro" size="24" disabled="true"
									value="#{cadastroImovelBean.omeView.bairro}" />

								<p:outputLabel value="Cidade" for="cidadeOme" />
								<p:inputText id="cidadeOme" onkeyup="alteraMaiusculo()"
									label="Cidade" size="24" disabled="true"
									value="#{cadastroImovelBean.omeView.cidade}" />

								<p:outputLabel value="Complemento" for="complementoOme" />
								<p:inputText id="complementoOme" onkeyup="alteraMaiusculo()"
									label="Complemento" maxlength="255" size="55" disabled="true"
									value="#{cadastroImovelBean.omeView.complemento}" />

								<p:outputLabel value="Telefone" for="telefoneOme" />
								<p:inputText id="telefoneOme" label="Telefone" size="20"
									maxlength="15" styleClass="telefoneFix" disabled="true"
									value="#{cadastroImovelBean.omeView.telefone}"
									onfocus="phoneMaskHandler(event);"
									onblur="phoneMaskHandler(event);">
									<!-- 	<f:converter converterId="converter.TelefoneConverterUtil" /> -->
									<f:validateRegex
										pattern="^(\(?(\d{2})\)?\s?-?\s?(\d{4}|\d{5})\s?-?\s?(\d{4}))$" />
								</p:inputText>

								<p:outputLabel value="Ponto de Ref." for="prOme" />
								<p:inputText id="prOme" onkeyup="alteraMaiusculo()"
									disabled="true" label="Ponto de Referência" size="50"
									maxlength="255"
									value="#{cadastroImovelBean.omeView.pontoReferencia}" />

							</p:panelGrid>

						</p:fieldset>
					</p:tab>
				</p:tabView>
			</h:form>
		</div>

		<div style="width: 100%; margin: 0 auto;">
			<p:panelGrid columns="1" style="width:100%"
				columnClasses="ui-grid-col-12" layout="grid">

				<h:form id="frm" prependId="false">

					<p:growl id="msgs" sticky="false" life="3000" />
					<p:toolbar id="toolbar">
						<f:facet name="left">
							<p:commandButton icon="ui-icon-help" id="ajuda_imovel"
								oncomplete="popupwindow('/esgc/page/ajuda/ajuda_imovel.xhtml', 'newwindow');"
								alt="Ajuda" title="Ajuda">
							</p:commandButton>
						</f:facet>
						<f:facet name="right">
							<p:commandButton icon="ui-icon-arrowthick-1-s"
								alt="Download em .xls" title="Download em .xls" ajax="false"
								immediate="true">
								<p:dataExporter type="xls" target="tb_imovel" fileName="Imoveis" />
							</p:commandButton>

							<span class="ui-separator"> <span
								class="ui-icon ui-icon-grip-dotted-vertical" />
							</span>

							<p:commandButton value="Novo" icon="ui-icon-document" alt="Novo"
								title="Novo" action="#{cadastroImovelBean.novoImovel}"
								process="@this" update="dialog_imovel"
								oncomplete="PF('edicaoImovelDialog').show()">
								<p:resetInput target="dialog_imovel" />
							</p:commandButton>
						</f:facet>
					</p:toolbar>

					<p:dataTable id="tb_imovel" reflow="true"
						value="#{cadastroImovelBean.listaImovel}" var="imovel" rows="10"
						paginator="true" widgetVar="consImovel" paginatorPosition="bottom"
						rowKey="#{imovel.idImovel}"
						emptyMessage="Nenhum registro encontrado."
						paginatorTemplate=" {CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks}     
                                   {NextPageLink} {LastPageLink} {RowsPerPageDropdown} #{fn:length(cadastroImovelBean.listaImovel)} Lista de Imoveis Cadastrados"
						rowsPerPageTemplate="10,20,50,100">

						<p:column width="67" exportable="false">
							<p:commandButton icon="ui-icon-pencil" alt="Editar"
								title="Editar" process="@this" update="dialog_imovel"
								oncomplete="PF('edicaoImovelDialog').show()"
								style="margin-right: 7px">
								<p:resetInput target="dialog_imovel" />
								<f:setPropertyActionListener value="#{imovel}"
									target="#{cadastroImovelBean.imovel}" />
							</p:commandButton>
							<p:commandButton action="#{cadastroImovelBean.excluirImovel}"
								update="tb_imovel msgs" icon="ui-icon-trash" alt="Excluir"
								title="Excluir" process="@this">
								<f:setPropertyActionListener
									target="#{cadastroImovelBean.imovel}" value="#{imovel}" />
								<p:confirm header="Confirmação" icon="ui-icon-alert"
									message="Tem certeza que deseja excluir?" />
							</p:commandButton>
						</p:column>

						<p:column headerText="Nome" sortBy="#{imovel.nome}"
							filterBy="#{imovel.nome}#{cadastroImovelBean.removeAcentos(imovel.nome)}"
							filterMatchMode="contains">
							<p:commandLink process="@this" update="dialog_imovel"
								ajax="false"
								action="#{cadastroImovelBean.redireciona(imovel.idImovel)}">
								<h:outputText value="#{imovel.nome}" />
							</p:commandLink>
						</p:column>

						<p:column headerText="Cidade"
							sortBy="#{cadastroImovelBean.imovel.cidade}" priority="1"
							filterBy="#{imovel.cidade}#{cadastroImovelBean.removeAcentos(imovel.cidade)}"
							onkeyup="this.value=this.value.toUpperCase()"
							filterMatchMode="contains">
							<h:outputText value="#{imovel.cidade}"
								style="horizontal-align:center" />
						</p:column>

						<p:column headerText="Bairro" sortBy="#{imovel.bairro}"
							filterBy="#{imovel.bairro}#{cadastroImovelBean.removeAcentos(imovel.bairro)}"
							onkeyup="this.value=this.value.toUpperCase()"
							filterMatchMode="contains">
							<h:outputText value="#{imovel.bairro}" />
						</p:column>

						<p:column headerText="Logradouro" sortBy="#{imovel.logradouro}"
							filterBy="#{imovel.logradouro}#{cadastroImovelBean.removeAcentos(imovel.logradouro)}"
							filterMatchMode="contains">
							<h:outputText value="#{imovel.logradouro}" />
						</p:column>
					</p:dataTable>
				</h:form>
			</p:panelGrid>
		</div>

		<p:dialog header="Cadastro de Imóvel" responsive="true"
			widgetVar="edicaoImovelDialog" id="dialog_imovel" resizable="false"
			modal="true" closeOnEscape="true" appendTo="@(body)">

			<h:form id="frm_dialog" prependId="false">
				<p:messages id="msgs_dialog" />
				<p:defaultCommand target="btn_salvar" scope="dialog_imovel" />
				<h:inputHidden id="id_imovel"
					value="#{cadastroImovelBean.imovel.idImovel}" />
				<f:param name="frm1"
					value="#{cadastroImovelBean.omeView.idOrganizacao}" />

				<div class="ui-fluid">

					<p:panelGrid id="painel_edicao_dialog" class="ui-fluid">

						<p:fieldset legend="Endereço do Imóvel" style="margin-top:10px;">
							<p:panelGrid id="nome" columns="2"
								columnClasses="ui-grid-col-2,ui-grid-col-10" layout="grid"
								styleClass="ui-panelgrid-blank">
								<p:outputLabel value="Nome do Imóvel" for="nomeImovel" />

								<p:inputText id="nomeImovel" onkeyup="alteraMaiusculo()"
									required="true"
									requiredMessage="O campo Nome do Imóvel é obrigatório."
									label="Nome do Imóvel" maxlength="255"
									value="#{cadastroImovelBean.imovel.nome}" />
							</p:panelGrid>
							<a target="_blank" style="color: #0EA1FF;"
								href="http://www.buscacep.correios.com.br/sistemas/buscacep/">Não
								sei o CEP</a>

							<p:panelGrid id="pgEnderecoImovel" columns="4"
								columnClasses="ui-grid-col-2,ui-grid-col-2,ui-grid-col-2,ui-grid-col-6"
								layout="grid" styleClass="ui-panelgrid-blank">

								<p:outputLabel value="CEP" for="cepImovel" />
								<p:inputMask id="cepImovel" label="CEP" size="20" maxlength="10"
									required="true" onfocus="JQuery('#numeroImovel').focus"
									requiredMessage="O campo CEP é obrigatório."
									value="#{cadastroImovelBean.imovel.cep}" mask="99999-999"
									onchange="findCEP()" />

								<p:outputLabel value="Logradouro" for="logradouroImovel" />
								<p:inputText id="logradouroImovel" onkeyup="alteraMaiusculo()"
									required="true" label="Logradouro" size="110"
									requiredMessage="O campo Logradouro é obrigatório."
									value="#{cadastroImovelBean.imovel.logradouro}" />

								<p:outputLabel value="Número" for="numeroImovel" />
								<p:inputMask id="numeroImovel" label="Número" size="20"
									maxlength="10" required="false"
									requiredMessage="O campo Número é obrigatório."
									value="#{cadastroImovelBean.imovel.numero}"
									mask="9?999999999999" />

								<p:outputLabel value="Bairro" for="bairroImovel" />
								<p:inputText id="bairroImovel" onkeyup="alteraMaiusculo()"
									required="true" label="bairro" size="24"
									requiredMessage="O campo Bairro é obrigatório."
									value="#{cadastroImovelBean.imovel.bairro}" />

								<p:outputLabel value="Cidade" for="cidadeImovel" />
								<p:inputText id="cidadeImovel" onkeyup="alteraMaiusculo()"
									required="true" label="Cidade" size="24"
									requiredMessage="O campo Cidade é obrigatório."
									value="#{cadastroImovelBean.imovel.cidade}" />

								<p:outputLabel value="Complemento" for="complementoImovel" />
								<p:inputText id="complementoImovel" onkeyup="alteraMaiusculo()"
									label="Complemento" maxlength="255" size="55"
									value="#{cadastroImovelBean.imovel.complemento}" />

								<p:outputLabel value="Telefone" for="telefoneImovel" />
								<p:inputText id="telefoneImovel" label="Telefone" size="20"
									maxlength="15" styleClass="telefoneFix"
									value="#{cadastroImovelBean.imovel.telefone}"
									onfocus="phoneMaskHandler(event);"
									onblur="phoneMaskHandler(event);">
									<!-- <f:converter converterId="converter.TelefoneConverterUtil" /> -->
									<f:validateRegex
										pattern="^(\(?(\d{2})\)?\s?-?\s?(\d{4}|\d{5})\s?-?\s?(\d{4}))$" />
								</p:inputText>

								<p:outputLabel value="Ponto de Ref." for="prImovel" />
								<p:inputText id="prImovel" onkeyup="alteraMaiusculo()"
									label="Ponto de Referência" size="50" maxlength="255"
									value="#{cadastroImovelBean.imovel.pontoReferencia}" />

							</p:panelGrid>
						</p:fieldset>
					</p:panelGrid>
					<br />
					<p:separator />
					<p:outputPanel
						style="margin: 20px 0px 20px 0px; width: 100%; display: table;">
						<p:commandButton id="btn_salvar" value="Salvar"
							icon="ui-icon-check"
							actionListener="#{cadastroImovelBean.salvarImovel}"
							process="dialog_imovel" update="msgs_dialog painel_edicao_dialog"
							oncomplete="if(!args.validationFailed) PF('edicaoImovelDialog').hide()"
							style="float: right; width: 100px" />
					</p:outputPanel>
				</div>
			</h:form>

		</p:dialog>

	</ui:define>
</ui:composition>