<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:composite="http://xmlns.jcp.org/jsf/composite"
	xmlns:p="http://primefaces.org/ui"
	xmlns:sec="http://www.springframework.org/security/facelets/tags">

	<h:form>
		<p:panelMenu style="border: 0;" id="frmMenu" stateful="true">
			<p:submenu label="Contas" expanded="false">
				<p:menuitem value="Luz" url="/page/luz.xhtml" icon="fa  fa-users" />
				<p:menuitem value="Água" url="/page/agua.xhtml" icon="fa  fa-users" />
				<!-- <p:menuitem value="Luz Anual" url="/page/luz_anual.xhtml" icon="fa  fa-users" />
				<p:menuitem value="Água Anual" url="/page/agua_anual.xhtml" icon="fa  fa-users" />
				<p:menuitem value="Relatório Geral" url="/page/relatorio_geral.xhtml" icon="fa  fa-users" /> -->
			</p:submenu>

			<sec:ifAnyGranted roles="ADMINISTRADOR, DTEC, DAL">			
				<p:submenu label="Cadastro Básicos" expanded="true">
					<!-- <p:menuitem value="Cadastrar OMEs" url="/page/esgc/ome.xhtml" icon="fa  fa-list-alt" /> -->
					<p:menuitem value="Cadastro de Tipos de Contas" url="/page/esgc/tipo_conta.xhtml" icon="fa  fa-list-alt" />
					<p:menuitem value="Cadastro de Tipos de Faturas" url="/page/esgc/tipo_fatura.xhtml" icon="fa  fa-list-alt" />
					<p:menuitem value="Cadastro de Grupos de Demandas" 	url="/page/esgc/grupos.xhtml" icon="fa  fa-list-alt" />
					<p:menuitem value="Cadastro de Imóveis" url="/page/esgc/cadastro_imovel.xhtml" icon="fa  fa-list-alt" />
					<p:menuitem value="Lançamento de Faturas" url="/page/esgc/lancamento_faturas.xhtml" icon="fa  fa-list-alt" />
				</p:submenu>
					
				<p:submenu label="Relatórios" expanded="true">
					<!-- <p:menuitem value="Cadastrar OMEs" url="/page/esgc/ome.xhtml" icon="fa  fa-list-alt" /> -->
					<p:menuitem value="Relatório Celpe" url="/page/rel/relatorios.xhtml" icon="fa  fa-line-chart" />
					<p:menuitem value="Relatório Compesa" url="/page/rel/relatorios.xhtml" icon="fa  fa-line-chart" />
					<!-- <p:menuitem value="Cadastro de Tipos de Faturas" url="/page/esgc/tipo_fatura.xhtml" icon="fa  fa-list-alt" /> -->
					
				</p:submenu>
			</sec:ifAnyGranted>
		<!-- 	<sec:ifAnyGranted roles="ADMINISTRADOR, DTEC">
				<p:submenu label="Cadastro Básicos" expanded="true"> -->		
		</p:panelMenu>
	</h:form>


</ui:composition>

