<ui:composition template="/page/esgc/esgc.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:composite="http://xmlns.jcp.org/jsf/composite"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions">

	<ui:define name="pagina">
 
		<f:metadata>
			<f:viewAction action="#{grupoBean.listar}" />
		</f:metadata>
 

		<div class="conteudo_titulo">Tipos de Grupos de Demandas</div>
		<div style="width: 98%; margin: 0 auto;">
			<h:form id="frm">

				<p:growl id="msgs" sticky="false" life="3000" />

				<p:toolbar id="toolbar">
					<f:facet name="left">
						<p:commandButton icon="ui-icon-help" id="ajuda_grupo"
							oncomplete="popupwindow('/esgc/page/ajuda/ajuda_grupo.xhtml', 'newwindow');"
							alt="Ajuda" title="Ajuda">
						</p:commandButton>
					</f:facet>

					<f:facet name="right">
						<p:commandButton icon="ui-icon-arrowthick-1-s"
							alt="Download em .xls" title="Download em .xls" ajax="false"
							immediate="true">
							<p:dataExporter type="xls" target="grupo" fileName="Grupo" />
						</p:commandButton>

						<span class="ui-separator"> <span
							class="ui-icon ui-icon-grip-dotted-vertical" />
						</span>

						<p:commandButton value="Novo" icon="ui-icon-document" alt="Novo"
							title="Novo" action="#{grupoBean.novo}" process="@this"
							update="dialog_grupo" oncomplete="PF('edicaoGrupoDialog').show()">
							<p:resetInput target="dialog_grupo" />
						</p:commandButton>
					</f:facet>
				</p:toolbar>

				<p:dataTable id="grupo" reflow="true"
					value="#{grupoBean.listaGrupo}" var="grupo" rows="10"
					paginator="true" widgetVar="grupo" paginatorPosition="bottom"
					rowKey="#{grupo.idGrupos}"
					emptyMessage="Nenhum registro encontrado."
					paginatorTemplate=" {CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks}     
                                   {NextPageLink} {LastPageLink} {RowsPerPageDropdown} #{fn:length(grupoBean.listaGrupo)} Tipo de Grupos Cadastrados"
					rowsPerPageTemplate="10,20,50,100">


					<p:column width="67" exportable="false">
						<p:commandButton icon="ui-icon-pencil" alt="Editar" title="Editar"
							process="@this" update="dialog_grupo"
							oncomplete="PF('edicaoGrupoDialog').show()"
							style="margin-right: 7px">
							<p:resetInput target="dialog_grupo" />
							<f:setPropertyActionListener value="#{grupo}" target="#{grupoBean.grupo}" />
						</p:commandButton>

						<p:commandButton action="#{grupoBean.excluir}"
							update="grupo frm:msgs" icon="ui-icon-trash" alt="Excluir"
							title="Excluir" process="@this">
							<f:setPropertyActionListener value="#{grupo}" target="#{grupoBean.grupo}" />
							<p:confirm header="Confirmação" icon="ui-icon-alert" message="Tem certeza que deseja excluir?" />
						</p:commandButton>
					</p:column>


					<p:column headerText="Conta" sortBy="#{grupo.tipoConta.descricao}"
						filterBy="#{grupo.tipoConta.descricao}#{grupoBean.removeAcentos(grupo.tipoConta.descricao)}"
						filterMatchMode="contains">
						<h:outputText value="#{grupo.tipoConta.descricao}" >
						<!-- 	<f:converter converterId="TipoContaConverter" /> -->
						</h:outputText>						
					</p:column>

					<p:column headerText="Descrição" sortBy="#{grupo.grupo}"
						filterBy="#{grupo.grupo}#{grupoBean.removeAcentos(grupo.grupo)}"
						filterMatchMode="contains">
						<h:outputText value="#{grupo.grupo}" />
					</p:column>

					<p:column headerText="Ativo" filterBy="#{grupo.status}"
						filterMatchMode="exact">
						<f:facet name="filter">
							<p:selectOneMenu onchange="PF('grupo').filter()">
								<f:converter converterId="javax.faces.Boolean" />
								<f:selectItem itemLabel="Todos" itemValue="" />
								<f:selectItem itemLabel="Sim" itemValue="true" />
								<f:selectItem itemLabel="Não" itemValue="false" />
							</p:selectOneMenu>
						</f:facet>
						<h:outputText value="#{grupo.status ? 'SIM': 'NÃO'}" />
					</p:column>
					
				</p:dataTable>

			</h:form>
		</div>

		<p:dialog header="Cadastro de Grupos de Demanda" responsive="true"
			widgetVar="edicaoGrupoDialog" id="dialog_grupo" resizable="false"
			modal="true" closeOnEscape="true" appendTo="@(body)">

			<h:form id="frm_dialog" prependId="false">

				<p:messages id="msgs_dialog" />
				<p:defaultCommand target="btn_salvar" scope="dialog_grupo" />
				<h:inputHidden id="id_grupo" value="#{grupoBean.grupo.idGrupo}" />
				<f:param name="frm" value="#{grupoBean.grupo.idGrupo}" /> 
				

				<div class="ui-fluid">

					<p:panelGrid columns="2" id="painel_edicao_dialog" layout="grid"
						columnClasses="ui-grid-col-4,ui-grid-col-8"
						styleClass="ui-panelgrid-blank">

						<p:outputLabel value="Conta" for="conta" />
						<p:selectOneMenu id="conta" label="Conta" size="30"
							maxlength="40" required="true" onkeyup="alteraMaiusculo()"
							requiredMessage="O campo descrição é obrigatório."
							value="#{grupoBean.grupo.tipoConta.idTipoConta}">							
							<f:selectItems value="#{grupoBean.listarTipoContas}" />	
													
						</p:selectOneMenu>
												
						<p:outputLabel value="Descrição" for="descricao" />
						<p:inputText id="descricao" label="Descrição" size="30"
							maxlength="40" required="true" onkeyup="alteraMaiusculo()"
							requiredMessage="O campo descrição é obrigatório."
							value="#{grupoBean.grupo.grupo}">
						</p:inputText>



						<p:outputLabel value="Ativo" for="ativo" />
						<p:selectBooleanButton id="ativo" label="Ativo" onLabel="SIM"
							required="true" offLabel="NÃO" value="#{grupoBean.grupo.status}"
							style="width: 100px" />

					</p:panelGrid>

					<br />
					<p:separator />
					<p:outputPanel
						style="margin: 20px 0px 20px 0px; width: 100%; display: table;">
						<p:commandButton id="btn_salvar" value="Salvar"
							icon="ui-icon-check" action="#{grupoBean.salvar}"
							process="dialog_grupo" update="msgs_dialog painel_edicao_dialog"
							oncomplete="if(!args.validationFailed) PF('edicaoGrupoDialog').hide()"
							style="float: right; width: 100px" >
							<p:resetInput target="dialog_grupo" />
						</p:commandButton>
					</p:outputPanel>
				</div>

			</h:form>

		</p:dialog>

	</ui:define>

</ui:composition>