<ui:composition template="/page/esgc/esgc.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:composite="http://xmlns.jcp.org/jsf/composite"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions">

	<ui:define name="pagina">

		<f:metadata>
			<f:viewAction action="#{lancamentoFaturaBean.listarCompetencia}" />
		</f:metadata>
		<script type="text/javascript">
			function calcular() {

				var consumo_parcial = parseInt(document
						.getElementById('consumo_parcial').value, 10);
				document.getElementById('consumoTot').innerHTML = consumoTot
						+ consumo_parcial;
			}
		</script>

		<div class="conteudo_titulo">Lançamento de Faturas</div>
		<div class="ui-fluid">
			<h:form id="frm" prependId="false">

				<!-- 	<p:tabView id="cadForm" prependId="false"> -->
				<p:fieldset id="lancamentos">
					<p:panelGrid id="tipo_conta" columns="4"
						columnClasses="ui-grid-col-2,ui-grid-col-2,ui-grid-col-2,ui-grid-col-2"
						layout="grid" styleClass="ui-panelgrid-blank">

						<p:outputLabel for="tipo1" value="Tipo de Conta" />
						<p:selectOneRadio id="tipo1" required="true"
							requiredMessage="O campo Tipo de Conta obrigatório!"
							value="#{lancamentoFaturaBean.tipoConta}" unselectable="true">
							<f:selectItem itemLabel="Celpe" itemValue="1" />
							<f:selectItem itemLabel="Compesa" itemValue="2" />
							<p:ajax
								update="frm:lancamento_fatura frm:lancamento_view frm:lancamentos_conta frm1:competencia"
								listener="#{lancamentoFaturaBean.limpar}" event="change" />
						</p:selectOneRadio>


					</p:panelGrid>

					<p:panelGrid id="lancamento_fatura" columns="4"
						columnClasses="ui-grid-col-2,ui-grid-col-2,ui-grid-col-2,ui-grid-col-2"
						layout="grid" styleClass="ui-panelgrid-blank">

						<p:outputLabel value="Competência" for="competencia" />
						<p:calendar yearRange="c-100:c" navigator="true" effect="fadeIn"
							required="true" showOn="off" id="competencia" showIcon="true"
							requiredMessage="O campo Competência obrigatório!"
							value="#{lancamentoFaturaBean.comp}" locale="pt_BR"
							pattern="MM/yyyy" mask="true">
							<p:ajax
								update="nulo celpe compesa numeroCon frm:lancamento_view frm:lancamentos_conta frm1:competencia"
								process="@this" listener="#{lancamentoFaturaBean.limpar2}"
								event="change" />
						</p:calendar>

						<p:outputLabel id="nulo" value="" for="numeroCon"
							rendered="#{lancamentoFaturaBean.tipoConta==null?true:false}" />
						<p:outputLabel id="celpe" value="Contrato" for="numeroCon"
							rendered="#{lancamentoFaturaBean.tipoConta==1?true:false}" />

						<p:outputLabel id="compesa" value="Matricula" for="numeroCon"
							rendered="#{lancamentoFaturaBean.tipoConta==2?true:false}" />
						<p:autoComplete id="numeroCon" size="30" maxlength="40"
							required="true" label="NumeroCon"
							completeMethod="#{lancamentoFaturaBean.completarPorMatricula}"
							value="#{lancamentoFaturaBean.ncm}"
							requiredMessage="Este campo Contrato/Matricula é obrigatório."
							rendered="#{lancamentoFaturaBean.tipoConta!=null?true:false}">
							<p:ajax update="ome nomeImovel frm1:competencia"
								event="itemSelect"
								listener="#{lancamentoFaturaBean.carregarDados}" />
						</p:autoComplete>

					</p:panelGrid>

					<p:panelGrid id="lancamento_view" columns="4"
						columnClasses="ui-grid-col-2,ui-grid-col-2,ui-grid-col-2,ui-grid-col-6"
						layout="grid" styleClass="ui-panelgrid-blank">
						<p:outputLabel value="Ome" for="ome" />
						<p:inputText id="ome" label="Ome" disabled="true"
							value="#{lancamentoFaturaBean.omeView.sigla}" />

						<p:outputLabel value="Nome do Imovel" for="nomeImovel" />
						<p:inputText id="nomeImovel" label="Nome do Imovel"
							style="width: 100%" disabled="true"
							value="#{lancamentoFaturaBean.conta.imovel.nome}" />

					</p:panelGrid>

					<p:panelGrid id="lancamentos_conta" columns="6"
						columnClasses="ui-grid-col-2,ui-grid-col-2,ui-grid-col-2,ui-grid-col-2,ui-grid-col-2,ui-grid-col-2"
						layout="grid" styleClass="ui-panelgrid-blank">


						<p:outputLabel value="Tipo de Fatura" for="fatura" />
						<p:selectOneMenu id="fatura" required="true"
							class="ui-selectonemenu-label ui-inputfield ui-corner-all"
							requiredMessage="O campo Tipo de Fatura obrigatório!"
							value="#{lancamentoFaturaBean.competencia.tipoFatura.idTipoFatura}">
							<f:selectItems value="#{lancamentoFaturaBean.listarTipoFatura}" />
						</p:selectOneMenu>


						<p:outputLabel value="Vencimento" for="vencimento" />
						<p:calendar yearRange="c-100:c" navigator="true" showIcon="true"
							required="true" effect="fadeIn" id="vencimento"
							autocomplete="off"
							requiredMessage="O campo Vencimento obrigatório!"
							value="#{lancamentoFaturaBean.competencia.vencimento}"
							locale="pt_BR" pattern="dd/MM/yyyy" />

						<p:outputLabel value="Esgoto" for="esgoto" rendered="#{lancamentoFaturaBean.tipoConta==2?true:false}"/>
						<p:inputNumber id="esgoto" label="Esgoto" rendered="#{lancamentoFaturaBean.tipoConta==2?true:false}"
							value="#{lancamentoFaturaBean.competencia.esgoto}" size="30"
							decimalSeparator="," thousandSeparator="." required="false"
							disabled="false" maxlength="30" />

						<p:outputLabel value="Consumo" for="consumoP" />
						<p:panelGrid id="consumogrid" columns="2"
							columnClasses="ui-grid-col-1,ui-grid-col-14" layout="grid">
							<p:commandButton id="btn_add" process="btn_add consumoP"
								action="#{lancamentoFaturaBean.add}" icon="ui-icon-circle-plus"
								style="margin-left:-10; width:30px" update="consumoP consumoT" />

							<p:inputNumber id="consumoP" label="Consumo Parcial" size="30"
								decimalSeparator="," thousandSeparator="."
								style="margin-left:5; width:100%" maxlength="25"
								value="#{lancamentoFaturaBean.consumoP}">
							</p:inputNumber>
						</p:panelGrid>


						<p:outputLabel value="Consumo Total" for="consumoT" />
						<p:inputNumber id="consumoT" label="Consumo Total" size="30"
							decimalSeparator="," thousandSeparator="." required="true"
							disabled="true" maxlength="30"
							requiredMessage="O campo Consumo Total é obrigatório."
							value="#{lancamentoFaturaBean.consumoT}">
						</p:inputNumber>


						<p:outputLabel value="Valor" for="valor" />
						<p:inputNumber id="valor" label="Valor" decimalSeparator=","
							thousandSeparator="." required="true"
							requiredMessage="O campo Valor é obrigatório."
							value="#{lancamentoFaturaBean.competencia.valor}" />

					</p:panelGrid>

					<div class="conteudo_padrao_botoes_form_baixo">
						<p:commandButton id="btn_limpar" value="Limpar"
							update="frm:lancamento_fatura  frm:lancamento_view frm:lancamentos_conta frm1:competencia"
							ajax="true" icon="ui-icon-refresh" process="btn_limpar	"
							immediate="true" action="#{lancamentoFaturaBean.limparTudo}"
							style="width:100px" />


						<p:commandButton id="btn_salvar" value="Salvar" ajax="false"
							action="#{lancamentoFaturaBean.salvar}" style="width:100px">
							<p:ajax
								update="lancamento_view lancamento_fatura lancamentos_conta tipo_conta" />
						</p:commandButton>

					</div>
				</p:fieldset>
			</h:form>
		</div>
		<br></br>

		<div style="width: 100%; margin: 0 auto;">

			<h:form id="frm1">

				<p:growl id="msgs" sticky="false" life="3000" />

				<p:toolbar id="toolbar">
					<f:facet name="left">
						<p:commandButton icon="ui-icon-help" id="ajuda_grupo"
							style="width: 30px"
							oncomplete="popupwindow('/esgc/page/ajuda/ajuda_compesa.xhtml', 'newwindow');"
							alt="Ajuda" title="Ajuda">
						</p:commandButton>
					</f:facet>

					<f:facet name="right">
						<p:commandButton icon="ui-icon-arrowthick-1-s" style="width: 30px"
							alt="Download em .xls" title="Download em .xls" ajax="false"
							immediate="true">
							<p:dataExporter type="xls" target="competencia"
								fileName="Competência" />
						</p:commandButton>
					</f:facet>
				</p:toolbar>

				<p:dataTable id="competencia" reflow="true"
					value="#{lancamentoFaturaBean.listaCompetencia}" var="competencia"
					rows="10" paginator="true" widgetVar="competencia"
					paginatorPosition="bottom" rowKey="#{competencia.idCompetencia}"
					emptyMessage="Nenhum registro encontrado."
					paginatorTemplate=" {CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks}     
                                   {NextPageLink} {LastPageLink} {RowsPerPageDropdown} #{fn:length(lancamentoFaturaBean.listaCompetencia)} Lista de Contas Lançandas"
					rowsPerPageTemplate="10,20,50,100">


					<p:column width="67" exportable="false">
						<p:commandButton icon="ui-icon-pencil" alt="Editar" title="Editar"
							process="@this"
							update="lancamentos lancamento_fatura lancamento_view lancamentos_conta"
							action="#{lancamentoFaturaBean.editar(competencia)}"
							style="margin-right: 7px; width: 30px">
							<p:resetInput target="lancamento_fatura" />
						</p:commandButton>
						<p:commandButton action="#{lancamentoFaturaBean.excluir}"
							update="competencia frm1:msgs" icon="ui-icon-trash" alt="Excluir"
							title="Excluir" process="@this"
							style="margin-right: 57px; width: 30px">
							<f:setPropertyActionListener
								target="#{lancamentoFaturaBean.competencia}"
								value="#{competencia}" />
							<p:confirm header="Confirmação" icon="ui-icon-alert"
								message="Tem certeza que deseja excluir?" />
						</p:commandButton>
					</p:column>

					<p:column headerText="Tipo de Conta"
						sortBy="#{competencia.tipoConta.descricao}"
						filterBy="#{competencia.tipoConta.descricao}#{lancamentoFaturaBean.removeAcentos(competencia.tipoConta.descricao)}"
						filterMatchMode="contains">
						<h:outputText id="tipoCont"
							value="#{competencia.tipoConta.descricao}">
						</h:outputText>
					</p:column>

					<p:column headerText="Competência"
						sortBy="#{competencia.competencia}"
						filterBy="#{competencia.competencia}#{lancamentoFaturaBean.removeAcentos(competencia.competencia)}"
						filterMatchMode="contains">
						<h:outputText id="comp" value="#{competencia.competencia}">
							<f:convertDateTime converterId="comp.competenciaConverter"
								pattern="MM/yyyy" />
						</h:outputText>
					</p:column>

					<p:column headerText="OME" sortBy="#{competencia.conta.imovel.ome}"
						filterBy="#{competencia.conta.imovel.ome}#{lancamentoFaturaBean.removeAcentos(competencia.conta.imovel.ome)}"
						filterMatchMode="contains">
						<h:outputText id="ome" value="#{competencia.conta.imovel.ome}">
						</h:outputText>
					</p:column>

					<p:column headerText="Imóvel"
						sortBy="#{competencia.conta.imovel.nome}"
						filterBy="#{competencia.conta.imovel.nome}#{lancamentoFaturaBean.removeAcentos(competencia.conta.imovel.nome)}"
						filterMatchMode="contains">
						<h:outputText id="imovel" value="#{competencia.conta.imovel.nome}">
						</h:outputText>
					</p:column>

					<p:column headerText="Contrato"
						sortBy="#{competencia.conta.nContratoMatricula}"
						filterBy="#{competencia.conta.nContratoMatricula}#{lancamentoFaturaBean.removeAcentos(competencia.conta.nContratoMatricula)}"
						filterMatchMode="contains">
						<h:outputText value="#{competencia.conta.nContratoMatricula}">
							<!--  <f:converter converterId="converter.TipoContaConverter" />  -->
						</h:outputText>
					</p:column>
					
					<p:column headerText="Vencimento"
						sortBy="#{competencia.vencimento}"
						filterBy="#{competencia.vencimento}#{lancamentoFaturaBean.removeAcentos(competencia.vencimento)}"
						filterMatchMode="contains">
						<h:outputText id="venc" value="#{competencia.vencimento}">
							<f:convertDateTime converterId="venc.competenciaConverter" />
						</h:outputText>
					</p:column>
					
					<p:column headerText="Esgoto" sortBy="#{competencia.esgoto}" rendered="#{lancamentoFaturaBean.tipoConta==2?true:false}"
						filterBy="#{competencia.esgoto}#{lancamentoFaturaBean.removeAcentos(competencia.esgoto)}"
						filterMatchMode="contains">
						<h:outputText value="#{competencia.esgoto}">
							<f:convertNumber pattern="¤#,##0.00" currencySymbol=""
								locale="pt_BR" />
							<!-- <f:convertNumber convert="RealConverter" locale="pt_BR" type="number" pattern="#######0,00" /> -->
						</h:outputText>
					</p:column>
					
					<p:column headerText="Consumo" sortBy="#{competencia.consumo}"
						filterBy="#{competencia.consumo}#{lancamentoFaturaBean.removeAcentos(competencia.consumo)}"
						filterMatchMode="contains">
						<h:outputText value="#{competencia.consumo}">
							<f:convertNumber pattern="¤#,##0.00" currencySymbol=""
								locale="pt_BR" />
							<!-- <f:convertNumber convert="RealConverter" locale="pt_BR" type="number" pattern="#######0,00" /> -->
						</h:outputText>
					</p:column>

					<p:column headerText="Valor" sortBy="#{competencia.valor}"
						filterBy="#{competencia.valor}#{lancamentoFaturaBean.removeAcentos(competencia.valor)}"
						filterMatchMode="contains">
						<h:outputText value="#{competencia.valor}">
							<f:convertNumber pattern="¤#,##0.00" locale="pt_BR" />
							<!-- <f:convertNumber convert="RealConverter" locale="pt_BR" type="currency" currencySymbol="R$" pattern="######0,00"/>  -->
						</h:outputText>
					</p:column>

				</p:dataTable>

			</h:form>
		</div>
	</ui:define>
</ui:composition>