<ui:composition template="/page/esgc/esgc.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:composite="http://xmlns.jcp.org/jsf/composite"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions">

	<ui:define name="pagina">
	<f:metadata>
			<f:viewAction action="#{cadastroOmeEnderecoBean.listar}" />
	</f:metadata>


		<div class="conteudo_titulo">Cadastro de Endereço de OME</div>
		<div style="width: 100%; margin: 0 auto;">
			<h:form id="frm">

				<p:growl id="msgs" sticky="false" life="3000" />
				<p:toolbar id="toolbar">
					<f:facet name="left">
						<p:commandButton icon="ui-icon-help" id="ajuda_ome"
							oncomplete="popupwindow('/esgc/page/ajuda/ajuda_ome.xhtml', 'newwindow');"
							alt="Ajuda" title="Ajuda">
						</p:commandButton>
					</f:facet>
					<f:facet name="right">
						<p:commandButton icon="ui-icon-arrowthick-1-s"
							alt="Download em .xls" title="Download em .xls" ajax="false"
							immediate="true">
							<p:dataExporter type="xls" target="tb_ome" fileName="OMEs" />
						</p:commandButton>

						<span class="ui-separator"> <span
							class="ui-icon ui-icon-grip-dotted-vertical" />
						</span>

						<p:commandButton value="Novo" icon="ui-icon-document" alt="Novo"
							title="Novo" action="#{cadastroOmeEnderecoBean.novo}"
							process="@this" update="dialog_ome"
							oncomplete="PF('edicaoOmeDialog').show()">
							<p:resetInput target="dialog_ome" />
						</p:commandButton>
					</f:facet>
				</p:toolbar>

				<p:dataTable id="tb_ome" reflow="true"
					value="#{cadastroOmeEnderecoBean.listaOmeEndereco}" var="ome"
					rows="10" paginator="true" widgetVar="consOme"
					paginatorPosition="bottom" rowKey="#{ome.idOmeEndereco}"
					emptyMessage="Nenhum registro encontrado."
					paginatorTemplate=" {CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks}     
                                   {NextPageLink} {LastPageLink} {RowsPerPageDropdown} #{fn:length(cadastroOmeEnderecoBean.listaOmeEndereco)} Lista de OMEs Cadastradas"
					rowsPerPageTemplate="10,20,50,100">

					<p:column width="67" exportable="false">
						<p:commandButton icon="ui-icon-pencil" alt="Editar" title="Editar"
							process="@this" update="dialog_ome"
							oncomplete="PF('edicaoOmeDialog').show()"
							style="margin-right: 7px">
							<p:resetInput target="dialog_ome" />
							<f:setPropertyActionListener value="#{ome}"
								target="#{cadastroOmeEnderecoBean.organizacaoEndereco}" />
						</p:commandButton>
						<p:commandButton action="#{cadastroOmeEnderecoBean.excluir}"
							update="tb_ome frm:msgs" icon="ui-icon-trash" alt="Excluir"
							title="Excluir" process="@this">
							<f:setPropertyActionListener
								target="#{cadastroOmeEnderecoBean.organizacaoEndereco}" value="#{ome}" />
							<p:confirm header="Confirmação" icon="ui-icon-alert"
								message="Tem certeza que deseja excluir?" />
						</p:commandButton>
					</p:column>

					<p:column headerText="OME" sortBy="#{ome.nome}"
						filterBy="#{ome.nome}#{cadastroOmeEnderecoBean.removeAcentos(ome.nome)}"
						filterMatchMode="contains">
						<h:outputText value="#{ome.nome}">
								<!-- <f:converter converterId="TipoContaConverter" /> -->
						</h:outputText>
					</p:column> 

					<p:column headerText="Logradouro" sortBy="#{ome.logradouro}"
						filterBy="#{ome.logradouro}#{cadastroOmeEnderecoBean.removeAcentos(ome.logradouro)}"
						filterMatchMode="contains">
						<h:outputText value="#{ome.logradouro}">
							<!-- 	<f:converter converterId="TipoContaConverter" /> -->
						</h:outputText>
					</p:column>

					<p:column headerText="Número" sortBy="#{ome.numero}"
						filterBy="#{ome.numero}#{cadastroOmeEnderecoBean.removeAcentos(ome.numero)}"
						filterMatchMode="contains">
						<h:outputText value="#{ome.numero}">
							<!-- 	<f:converter converterId="TipoContaConverter" /> -->
						</h:outputText>
					</p:column>

					<p:column headerText="Bairro" sortBy="#{ome.bairro}"
						filterBy="#{ome.bairro}#{cadastroOmeEnderecoBean.removeAcentos(ome.bairro)}"
						filterMatchMode="contains">
						<h:outputText value="#{ome.bairro}">
							<!-- 	<f:converter converterId="TipoContaConverter" /> -->
						</h:outputText>
					</p:column>

					<p:column headerText="Cidade" sortBy="#{ome.cidade}"
						filterBy="#{ome.cidade}#{cadastroOmeEnderecoBean.removeAcentos(ome.cidade)}"
						filterMatchMode="contains">
						<h:outputText value="#{ome.cidade}">
							<!-- 	<f:converter converterId="TipoContaConverter" /> -->
						</h:outputText>
					</p:column>

					<p:column headerText="Complemento" sortBy="#{ome.complemento}"
						filterBy="#{ome.complemento}#{cadastroOmeEnderecoBean.removeAcentos(ome.complemento)}"
						filterMatchMode="contains">
						<h:outputText value="#{ome.complemento}">
							<!-- 	<f:converter converterId="TipoContaConverter" /> -->
						</h:outputText>
					</p:column>

					<p:column headerText="Ponto de Ref."
						sortBy="#{ome.pontoReferencia}"
						filterBy="#{ome.pontoReferencia}#{cadastroOmeEnderecoBean.removeAcentos(ome.pontoReferencia)}"
						filterMatchMode="contains">
						<h:outputText value="#{ome.pontoReferencia}">
							<!-- 	<f:converter converterId="TipoContaConverter" /> -->
						</h:outputText>
					</p:column>

					<p:column headerText="Telefone" sortBy="#{ome.telefone}"
						filterBy="#{ome.telefone}#{cadastroOmeEnderecoBean.removeAcentos(ome.telefone)}"
						filterMatchMode="contains">
						<h:outputText value="#{ome.telefone}" >
							<!-- <f:converter converterId="TipoContaConverter" /> -->
						</h:outputText>						
					</p:column>
					
				
 
				</p:dataTable>
			</h:form>
		</div>
		<p:dialog header="Cadastro de OME" responsive="true"
			widgetVar="edicaoOmeDialog" id="dialog_ome" resizable="false"
			modal="true" closeOnEscape="true" appendTo="@(body)">

			<h:form id="frm_dialog" prependId="false">
				<p:messages id="msgs_dialog" />
				<p:defaultCommand target="btn_salvar" scope="dialog_ome" />
				<h:inputHidden id="id_ome"
					value="#{cadastroOmeEnderecoBean.omeView.idOrganizacao}" />
				<f:param name="frm1"
					value="#{cadastroOmeEnderecoBean.organizacaoEndereco.organizacao}" />

				<div class="ui-fluid">

					<p:panelGrid id="painel_edicao_dialog" class="ui-fluid">
						<p:fieldset legend="Endereço da OME">
							<a target="_blank" style="color: #0EA1FF;"
								href="http://www.buscacep.correios.com.br/sistemas/buscacep/">Não
								sei o CEP</a>
							<p:panelGrid id="pgEnderecoOme" columns="4"
								columnClasses="ui-grid-col-2,ui-grid-col-2,ui-grid-col-2,ui-grid-col-6"
								layout="grid" styleClass="ui-panelgrid-blank">

								<p:outputLabel value="OME" for="sigla" />
								<p:selectOneMenu id="sigla" required="true" autoClear="true"
									class="ui-selectonemenu-label ui-inputfield ui-corner-all"
									requiredMessage="O campo OME é obrigatório."
									value="#{cadastroOmeEnderecoBean.omeView.idOrganizacao}">
									<f:selectItems value="#{cadastroOmeEnderecoBean.listarOmeEndereco}" />
									<p:ajax update="nomeOme cepImovel logradouroImovel numeroImovel bairroImovel cidadeImovel prImovel complementoImovel frm:tb_ome" 
											listener="#{cadastroOmeEnderecoBean.carregarDados}"/>
								</p:selectOneMenu>

								<p:outputLabel value="Nome" for="nomeOme" />
								<p:inputText id="nomeOme" onkeyup="alteraMaiusculo()"
									label="Nome" size="110" disabled="true"
									value="#{cadastroOmeEnderecoBean.omeView.nome}" />

								<p:outputLabel value="CEP" for="cepImovel" />
								<p:inputMask id="cepImovel" label="CEP" size="20" maxlength="10"
									required="true" onfocus="JQuery('#numeroOme').focus"
									requiredMessage="O campo CEP é obrigatório."
									value="#{cadastroOmeEnderecoBean.organizacaoEndereco.cep}" mask="99999-999"
									onchange="findCEP()" />
									
								<p:outputLabel value="Logradouro" for="logradouroImovel" />
								<p:inputText id="logradouroImovel" onkeyup="alteraMaiusculo()"
									label="Logradouro" size="110" required="true" 
									requiredMessage="O campo Logradouro é obrigatório."
									value="#{cadastroOmeEnderecoBean.organizacaoEndereco.logradouro}" />

								<p:outputLabel value="Número" for="numeroImovel" />
								<p:inputMask id="numeroImovel" label="Número" size="20"
									disabled="false" maxlength="10"
									requiredMessage="O campo Número é obrigatório."
									value="#{cadastroOmeEnderecoBean.organizacaoEndereco.numero}"
									mask="9?999999999999" />

								<p:outputLabel value="Bairro" for="bairroImovel" />
								<p:inputText id="bairroImovel" onkeyup="alteraMaiusculo()"
									label="bairro" size="24" required="true"
									requiredMessage="O campo Bairro é obrigatório."
									value="#{cadastroOmeEnderecoBean.organizacaoEndereco.bairro}" />

								<p:outputLabel value="Cidade" for="cidadeImovel" />
								<p:inputText id="cidadeImovel" onkeyup="alteraMaiusculo()"
									label="Cidade" size="24" required="true"
									requiredMessage="O campo Cidade é obrigatório."
									value="#{cadastroOmeEnderecoBean.organizacaoEndereco.cidade}" />

								<p:outputLabel value="Complemento" for="complementoImovel" />
								<p:inputText id="complementoImovel" onkeyup="alteraMaiusculo()"
									label="Complemento" maxlength="255" size="55" disabled="false"
									value="#{cadastroOmeEnderecoBean.organizacaoEndereco.complemento}" />

								<!-- <p:outputLabel value="Telefone" for="telefoneOme" />
								<p:inputText id="telefoneOme" label="Telefone" size="20"
									maxlength="15" styleClass="telefoneFix" disabled="false"
									value="#{cadastroOmeEnderecoBean.organizacaoEndereco.telefone}"
									onfocus="phoneMaskHandler(event);"
									onblur="phoneMaskHandler(event);">
										<f:converter converterId="converter.TelefoneConverterUtil" />
									<f:validateRegex
										pattern="^(\(?(\d{2})\)?\s?-?\s?(\d{4}|\d{5})\s?-?\s?(\d{4}))$" />
								</p:inputText> -->

								<p:outputLabel value="Ponto de Ref." for="prImovel" />
								<p:inputText id="prImovel" onkeyup="alteraMaiusculo()"
									disabled="false" label="Ponto de Referência" size="50"
									maxlength="255"
									value="#{cadastroOmeEnderecoBean.organizacaoEndereco.pontoReferencia}" />

							</p:panelGrid>
						</p:fieldset>
					</p:panelGrid>
					<br />
					<p:separator />
					<p:outputPanel
						style="margin: 20px 0px 20px 0px; width: 100%; display: table;">
						<p:commandButton id="btn_salvar" value="Salvar"
							icon="ui-icon-check"
							actionListener="#{cadastroOmeEnderecoBean.salvar}"
							process="dialog_ome" update="frm_dialog:msgs_dialog frm_dialog:painel_edicao_dialog frm:tb_ome"
							oncomplete="if(!args.validationFailed) PF('edicaoOmeDialog').hide()"
							style="float: right; width: 100px" />
					</p:outputPanel>
				</div>
			</h:form>

		</p:dialog>
	</ui:define>
</ui:composition>