<ui:composition template="/page/esgc/esgc.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:composite="http://xmlns.jcp.org/jsf/composite"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions">

	<ui:define name="pagina">

		<f:metadata>
			<f:viewAction action="#{tipoFaturaBean.listar}" />
		</f:metadata>

		<div class="conteudo_titulo">Tipos de Faturas</div>

		<div style="width: 98%; margin: 0 auto;">
			<h:form id="frm">

				<p:growl id="msgs" sticky="false" life="3000" />

				<p:toolbar id="toolbar">
					<f:facet name="left">
						<p:commandButton icon="ui-icon-help"
							id="ajuda_tipo_fatura" 
							oncomplete="popupwindow('/esgc/page/ajuda/ajuda_tipo_fatura.xhtml', 'newwindow');"
							alt="Ajuda" title="Ajuda">
						</p:commandButton>
					</f:facet>
				
					<f:facet name="right">
						<p:commandButton icon="ui-icon-arrowthick-1-s"
							alt="Download em .xls" title="Download em .xls" ajax="false"
							immediate="true">
							<p:dataExporter type="xls" target="tipo_fatura" fileName="tipoFatura" />
						</p:commandButton>

						<span class="ui-separator"> <span
							class="ui-icon ui-icon-grip-dotted-vertical" />
						</span>

						<p:commandButton value="Novo" icon="ui-icon-document" alt="Novo"
							title="Novo" action="#{tipoFaturaBean.novo}" process="@this"
							update="dialog_fatura" oncomplete="PF('edicaoFaturaDialog').show()">
							<p:resetInput target="dialog_fatura" />
						</p:commandButton>
					</f:facet>
				</p:toolbar>

				<p:dataTable id="tipo_fatura" reflow="true" value="#{tipoFaturaBean.listaTipoFatura}"
					var="tipoFatura" rows="10" paginator="true" widgetVar="tipoFatura"
					paginatorPosition="bottom" rowKey="#{tipoFatura.idTipoFatura}"
					emptyMessage="Nenhum registro encontrado."
					paginatorTemplate=" {CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks}     
                                   {NextPageLink} {LastPageLink} {RowsPerPageDropdown} #{fn:length(tipoFaturaBean.listaTipoFatura)} Tipo de Faturas Cadastradas"
					rowsPerPageTemplate="10,20,50,100">

					<p:column width="67" exportable="false">
						<p:commandButton icon="ui-icon-pencil" alt="Editar" title="Editar"
							process="@this" update="dialog_fatura"
							oncomplete="PF('edicaoFaturaDialog').show()" style="margin-right: 7px">
							<p:resetInput target="dialog_fatura" />
							<f:setPropertyActionListener value="#{tipoFatura}"
								target="#{tipoFaturaBean.tipoFatura}" />
						</p:commandButton>
					
						<p:commandButton action="#{tipoFaturaBean.excluir}"
							update="tipo_fatura frm:msgs" icon="ui-icon-trash" alt="Excluir"
							title="Excluir" process="@this">
							<f:setPropertyActionListener target="#{tipoFaturaBean.tipoFatura}"
								value="#{tipoFatura}" />
							<p:confirm header="Confirmação" icon="ui-icon-alert"
								message="Tem certeza que deseja excluir?" />
						</p:commandButton>
					</p:column>

					<p:column headerText="Descrição" sortBy="#{tipoFatura.descricao}"
						filterBy="#{tipoFatura.descricao}#{tipoFaturaBean.removeAcentos(tipoFatura.descricao)}"
						
						filterMatchMode="contains">
						<h:outputText value="#{tipoFatura.descricao}" />
					</p:column>
					
					<p:column headerText="Ativo" filterBy="#{tipoFatura.status}" filterMatchMode="exact">
						<f:facet name="filter">
							<p:selectOneMenu onchange="PF('tipoFatura').filter()">
								<f:converter converterId="javax.faces.Boolean" />
								<f:selectItem itemLabel="Todos" itemValue="" />
								<f:selectItem itemLabel="Sim" itemValue="true" />
								<f:selectItem itemLabel="Não" itemValue="false" />
							</p:selectOneMenu>
						</f:facet>
						<h:outputText value="#{tipoFatura.status ? 'SIM': 'NÃO'}" />
					</p:column>

				</p:dataTable>

			</h:form>
		</div>

		<p:dialog header="Cadastro de Tipos de Faturas" responsive="true" widgetVar="edicaoFaturaDialog"
			id="dialog_fatura" resizable="false" modal="true" closeOnEscape="true"
			appendTo="@(body)">

			<h:form id="frm_dialog">

				<p:messages id="msgs_dialog" />
				<p:defaultCommand target="btn_salvar" scope="dialog_fatura" />
				<h:inputHidden id="id_conta" value="#{tipoFaturaBean.tipoFatura.idTipoFatura}" />
				
				<div class="ui-fluid">

					<p:panelGrid columns="2" id="painel_edicao_dialog" layout="grid" 
						columnClasses="ui-grid-col-4,ui-grid-col-8"
						styleClass="ui-panelgrid-blank">
							
						<p:outputLabel value="Descrição" for="descricao" />
						<p:inputText id="descricao" label="Descrição" size="30" maxlength="40" 
						required="true" onkeyup="alteraMaiusculo()" 
							requiredMessage="O campo descrição é obrigatório."
							value="#{tipoFaturaBean.tipoFatura.descricao}">
						</p:inputText>
	
						<p:outputLabel value="Ativo" for="ativo" />
						<p:selectBooleanButton id="ativo" label="Ativo" onLabel="SIM"
							required="true" offLabel="NÃO" value="#{tipoFaturaBean.tipoFatura.status}"
							style="width: 100px" />
	
					</p:panelGrid>
	
					<br />
					<p:separator />
					<p:outputPanel
						style="margin: 20px 0px 20px 0px; width: 100%; display: table;">
						<p:commandButton id="btn_salvar" value="Salvar"
							icon="ui-icon-check" action="#{tipoFaturaBean.salvar}"
							process="dialog_fatura" update="msgs_dialog painel_edicao_dialog"
							oncomplete="if(!args.validationFailed) PF('edicaoFaturaDialog').hide()"
							style="float: right; width: 100px" />
					</p:outputPanel>
				</div>

			</h:form>

		</p:dialog>

	</ui:define>

</ui:composition>